ngx-reactflow {
    .react-flow__node {
        transition: all 300ms ease;
    }

    .react-flow__edge {
        transition: all 300ms ease;
    }

    .react-flow__background pattern circle {
        fill: var(--text-subtle-color);
    }

    .react-flow__controls-button {
        background-color: var(--panel-background-color);
        fill: var(--text-color)
    }

    .react-flow__handle {
        opacity: 0;
        pointer-events: none;
        height: 0;
        // display: none;
        // background-color: #69f0ae;
        // width: 10px;
        // height: 10px;
        // border: 0;
        // border-radius: 2px;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}
