:host {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.scroller {
    padding: 0 24px 24px 24px;
    flex: 1 1 calc(100% - 48px);
}

.placeholder {
    background: var(--inner-panel-background-color);
    border: dotted 3px #999;
    min-height: 48px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.label {
    display: flex;
    align-items: center;
    pointer-events: none;
}


.empty-placeholder {
    position: relative;
    text-align: center;
    z-index: 1;
    color: var(--text-subdued-color);

    span {
        background-color: var(--inner-panel-background-color);
        padding: 2px 12px;
    }

    &::before {
        content: " ";
        position: absolute;
        top: calc(50% - .5px);
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--table-header-border-color);
        display: block;
        z-index: -1;
    }
}

.new-placeholder {
    border: 2px solid #262626;
    display: flex;
    justify-content: center;
    cursor: pointer;
    order: 999999;

    svg {
        width: 96px;
        opacity: .2;
        transition: opacity 200ms ease;
    }
    &:hover svg{
        opacity: .6;
    }
}

.add-button {
    transition: opacity 250ms ease;
}

:host ::ng-deep {
    .mat-expansion-panel {
        background-color: var(--inner-panel-background-color);
    }
    .grid-item.destroy-animation {
        width: 0px;
        overflow: hidden;
    }
}


.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.grid-item {
    width: 268px;
    height: 230px;
    background-color: #121212;
    border-radius: 6px;
    transition: width 200ms ease;

    .content {
        width: 268px;
        height: 230px;
        padding: 12px;
        position: relative;
    }
}

.schedule-controls {
    display: flex;
    position: relative;
    gap: 8px;

    button {
        display: flex;
        height: 24px;
        width: 48px;
        padding: 0;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0;
        border-radius: 3px;

        transition: background-color 100ms ease;
        background-color: #333;
        &:hover {
            background-color: #444;
        }
    }
    a {
        position: absolute;
        right: 0px;
    }
}

h4 {
    margin: 0 0 12px 0;
}

hr {
    margin: 12px 0;
    border: 0;
    background-color: #444;
    height: 1px;
}

.options {
    position: absolute;
    top: 0;
    right: 0;
}

:host ::ng-deep {
    .sortable-ghost {
        background-color: #222;
        border: 4px dashed #444;
        .content {
            visibility: hidden;
        }
    }
}

button:disabled img {
    opacity: .35;
}
