<div #scroller class="scroller" (scroll)="onScroll(scroller)" cdkDropListGroup style="height: 100%; overflow: auto">
    <mat-accordion
        *ngFor="let group of pipelineGroups"
        displayMode="flat"
        [multi]="true"
    >
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <div class="label">
                    {{group.label || "unknown"}}
                </div>
            </mat-expansion-panel-header>

            <div
                #grid
                class="grid"
                [attr.pipeline-group]="group.label"
            >
                <div

                    class="grid-item"
                    *ngFor="let pipeline of group.items"
                    [ngx-contextmenu]="ctxMenu"
                    [ngx-menu-context]="pipeline"
                    [attr.pipeline-id]="pipeline.id"
                    (dblclick)="editPipeline(pipeline)"
                >
                    <div class="content">
                        <h4 class="label"
                            [style.opacity]="pipeline.state != 'active' ? .5 : 1"
                        >
                            {{pipeline.label + (pipeline.state != 'active' ? ' (' + pipeline.state + ')' : '')}}
                        </h4>

                        <div class="schedule-controls">

                            <button
                                [disabled]="pipeline.state != 'active'"
                                (click)="triggerPipeline(pipeline)"
                            >
                                <mat-icon>play_arrow</mat-icon>
                            </button>
                            <button
                                [disabled]="pipeline.state != 'active'"
                                (click)="triggerPipelineWithOptions(pipeline)"
                            >
                                <img icon="play-with-options"/>
                            </button>
                            <button
                                [class.active]="pipeline.state == 'active'"
                                (click)="pipeline.state == 'active' ? pausePipeline(pipeline) : resumePipeline(pipeline)"
                            >
                                <mat-icon>pause</mat-icon>
                            </button>

                            <a href="#/History">History</a>
                        </div>
                        <hr/>
                        <div>
                            <div>Instance: {{pipeline.stats?.runCount ?? 0}}</div>

                            <div>
                                <a href="#/Compare">Compare</a>
                                <a href="#/Changes">Changes</a>
                                <a href="#/VSM">VSM</a>
                            </div>

                            <div>Triggered by {{1}} on {{1}} Local Time</div>
                        </div>
                        <div>
                            <div
                                class="stage-block"
                                *ngFor="let stage of pipeline.stages"
                                [ngx-tooltip]="tooltip"
                                [ngx-tooltip-context]="stage"
                                [ngx-tooltip-config]="{ position: 'bottom', alignment: 'start', triggers:['click'], stayOpen: true }"
                                [style.background-color]="stage['_latestJob']?.state == 'failed' ? 'red' : 'blue'"
                            >
                                <!-- check block cancel-->

                                {{stage['_latestJob']?.state}}

                                <mat-icon [fontIcon]="(stage?.jobs || [])[0]?.runState"></mat-icon>
                            </div>
                            <ng-template #tooltip let-data>
                                <app-stage-popup
                                    [pipeline]="pipeline"
                                    [stage]="data"
                                />
                            </ng-template>
                        </div>

                        <button
                            class="options"
                            mat-icon-button
                            [ngx-menu]="ctxMenu"
                            [ngx-menu-context]="pipeline"
                            [ngx-menu-config]="{ alignment: 'start' }"
                        >
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="grid-item new-placeholder" (click)="editPipeline({ group: group.label })">
                    <svg viewBox="0 0 24 24">
                        <path d="M 12 2 L 12 22 M 2 12 L 22 12" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25" />
                    </svg>
                </div>
            </div>

            <div *ngIf="!group.items || group.items.length == 0" class="empty-placeholder">
                <span>No Pipelines</span>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
