@import "./themes/dark.scss";
@import "./themes/light.scss";

@import "@fontsource/material-icons-outlined";
// @import "@fontsource/fira-sans/100";
// @import "@fontsource/fira-sans/200";
// @import "@fontsource/fira-sans/300";
@import "@fontsource/fira-sans/400";
// @import "@fontsource/fira-sans/500";
@import "@fontsource/fira-sans/600";
@import "@fontsource/fira-mono/400";
// @import "@fontsource/fira-mono/600";
// @import "@egjs/flicking/dist/flicking.css";
@import 'ngx-toastr/toastr';

@import "./material.scss";
@import "./global.scss";
@import "./material.scss";
@import "./ngx-libraries.scss";
// @import "./webkit-scrollbar.scss";

@import "primeng/resources/themes/mdc-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";
