@use '@angular/material' as mat;
@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());
@include mat.all-legacy-component-typographies();
@include mat.core();

// Light palette
$light-primary: mat.define-palette(mat.$blue-palette);
$light-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);
$light-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
    color: (
        primary: $light-primary,
        accent: $light-accent,
        warn: $light-warn,
    ),
));

// Dark palette
$dark-primary: mat.define-palette(mat.$amber-palette, A100, A100, A100);
$dark-accent: mat.define-palette(mat.$teal-palette, 500, 600, 700);
$dark-warn: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme((
    color: (
        primary: $dark-primary,
        accent: $dark-accent,
        warn: $dark-warn,
    )
));

@include mat.all-component-themes($dark-theme);

.t-light {
    @include mat.all-component-colors($light-theme);
}

.cdk-global-scrollblock {
    overflow: hidden;
}

.mat-mdc-tab-group {
    height: 100%;
    width: 100%;

    .mat-mdc-tab-body-wrapper {
        height: 100%;
    }
}
