@use '@angular/material' as mat;
mat.$theme-ignore-duplication-warnings: true;
@include mat.core();

$app-typography: mat.define-typography-config($font-family: 'Fira Sans');

$light-primary: mat.define-palette(mat.$green-palette);
$light-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$light-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
    color: (
        primary: $light-primary,
        accent: $light-accent,
        warn: $light-warn,
    ),
    typography: $app-typography,
    density: -4
));

$dark-primary: mat.define-palette(mat.$green-palette, A200, 400, 800);
$dark-accent: mat.define-palette(mat.$light-blue-palette, A700, 300, 600);
$dark-warn: mat.define-palette(mat.$deep-orange-palette, 700, 500, 800);

$dark-theme: mat.define-dark-theme((
    color: (
        primary: $dark-primary,
        accent: $dark-accent,
        warn: $dark-warn,
    ),
    typography: $app-typography,
    density: -4
));

:root {
    --mdc-typography-body1-line-height: 30px;
    --mdc-typography-body1-font-size: 14px;
    --mdc-typography-button-letter-spacing: 0;
    --mdc-typography-body2-letter-spacing: 0;
    --mdc-typography-body1-letter-spacing: 0;
    --mdc-typography-subtitle2-letter-spacing: 0;
    --mdc-typography-subtitle1-letter-spacing: 0;
    --mdc-typography-headline6-letter-spacing: 0;
    --mdc-typography-caption-letter-spacing: 0;
}

@include mat.all-component-themes($dark-theme);

@media (prefers-color-scheme: light) {
    @include mat.all-component-colors($light-theme);
}
.light {
    @include mat.all-component-colors($light-theme);
}

mat-icon.material-icons {
    font-family: "Material Icons Outlined";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.cdk-global-scrollblock {
    overflow: hidden;
}

.mat-mdc-tab-group {
    height: 100%;
    width: 100%;

    .mat-mdc-tab-body-wrapper {
        height: 100%;
    }
}

.mat-mdc-tooltip {
    --mdc-plain-tooltip-container-color: #464646;
    padding: 6px 12px;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
    transition: border-color 200ms ease;
}
