ng-scrollbar.ng-scrollbar {
    --scrollbar-padding: 0px;
    --scrollbar-size: 4px;
    --scrollbar-border-radius: 0;
    --scrollbar-thumb-color: #444f;
    --scrollbar-thumb-transition:
        height ease-out 100ms,
        width ease-out 100ms,
        background-color ease 1200ms;
    // animation: fadeScrollbar 1200ms ease;

    &:hover {
        --scrollbar-size: 14px;
    }
}

// @keyframes fadeScrollbar {
//     from {
//         --scrollbar-thumb-color: #444f;
//     }

//     to {
//         --scrollbar-thumb-color: #4440;
//     }
// }

.ng-scroll-viewport {
    // This fixes a strange outline issue.
    // I have no idea why an outline shows up in the first place.
    outline: 0;
}

.ngx-menu ngx-menu a {
    color: #e0e0e0;
}
.light .ngx-menu ngx-menu a {
    color: #272727;
}

.as-split-gutter {
    background-color: var(--splitter-background-color) !important;
    transition: background-color var(--splitter-transition);
    position: relative;

    &:hover {
        background-color: var(--splitter-hover-background-color) !important;
    }

    &::before,
    &::after {
        content: "";
        width: 4px;
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 2;
    }

    &::before {
        right: 100%;
    }

    &::after {
        left: 100%;
    }
}


/**
 * PrimeNG global style overrides
 */
.p-datatable .p-datatable-tbody>tr>td {
    padding: 0;
}

