<mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="source.label">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput type="text" [(ngModel)]="source.description"></textarea>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Target Path</mat-label>
    <input matInput type="text" [(ngModel)]="source.targetPath">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <!-- Git, SVN, TFS -->
    <input matInput type="text" [(ngModel)]="source.type">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Branch</mat-label>
    <input matInput type="text" [(ngModel)]="source.branch">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput type="text" [(ngModel)]="source.username">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="text" [(ngModel)]="source.password">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label matTooltip="For the `git clone` command, how many historical revisions should fetched">Clone Depth</mat-label>
    <input matInput type="number" [(ngModel)]="source.cloneDepth">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Polling Behavior</mat-label>
    <input matInput type="text" [(ngModel)]="source.pollingBehavior">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Deny List</mat-label>
    <textarea matInput type="text" [(ngModel)]="source.denyList"></textarea>
</mat-form-field>

<mat-checkbox [value]="source.invertFilter ? 'true' : 'false'">
    Run only on new source
</mat-checkbox>

<mat-form-field appearance="outline">
    <mat-label>URL</mat-label>
    <input matInput type="text" [(ngModel)]="source.url">
</mat-form-field>
