<div style="display: flex; align-items: center; padding: 0 12px; gap: 8px">
    @if (connected) {
        <span>Ln {{lines.length}}</span>
    }
    @else if (isCompletedRun) {
        <mat-icon fontIcon="history" />
        <span>Ln {{lines.length}}</span>
    }
    @else {
        <mat-icon style="color: #ff5d5d" fontIcon="mobiledata_off" />
    }

    <div style="flex: 1"></div>

    <div
        [ngx-tooltip]="search"
        [ngx-tooltip-config]="{
            triggers: ['click'],
            position: 'bottom',
            alignment: 'center'
        }"
    >
        <mat-icon [style.color]="query.trim().length > 1 ? 'var(--active-item-color)' : ''" fontIcon="search"/>
        <ng-template #search>
            <div style="padding: 12px; display: flex; flex-direction: column;">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input
                        #_ matInput
                        type="text"
                        [value]="query"
                        (keyup)="query = _.value; filterLines()"
                        (paste)="query = _.value; filterLines()"
                        (change)="query = _.value; filterLines()"
                    />
                </mat-form-field>
            </div>
        </ng-template>
    </div>
    <div
        [ngx-tooltip]="filter"
        [ngx-tooltip-config]="{
            triggers: ['click'],
            position: 'bottom',
            alignment: 'center'
        }"
        [style.color]="query.trim().length > 1 ? 'var(--active-item-color)' : ''"
    >
        <mat-icon fontIcon="filter_alt" />
        <ng-template #filter>
            <div style="padding: 12px; display: flex; flex-direction: column;">
                <mat-checkbox
                    labelPosition="before"
                    [checked]="showStdOut"
                    (change)="showStdOut = $event.checked; filterLines()"
                >
                    <span
                        [style.color]="!showStdOut ? 'var(--active-item-color)' : ''"
                    >
                        stdout
                    </span>
                </mat-checkbox>
                <mat-checkbox
                    labelPosition="before"
                    [checked]="showStdErr"
                    (change)="showStdErr = $event.checked; filterLines()"
                >
                    <span
                        [style.color]="!showStdErr ? 'var(--active-item-color)' : ''"
                    >
                        stderr
                    </span>
                </mat-checkbox>
                <mat-checkbox
                    labelPosition="before"
                    [checked]="showAgent"
                    (change)="showAgent = $event.checked; filterLines()"
                >
                    <span
                        [style.color]="!showAgent ? 'var(--active-item-color)' : ''"
                    >
                        [agent]
                    </span>
                </mat-checkbox>
            </div>
        </ng-template>
    </div>

    <div style="flex: 1"></div>

    <!-- <div>change theme</div> -->
    <!-- <div>fullscreen</div> -->
    <!-- <div>expand all</div> -->
    <!-- <div>collapse all</div> -->
    <div (click)="showTimestamps = !showTimestamps">timestamps</div>
    <!-- <div>raw output</div> -->
    <div>go to end</div>
    <div>download log</div>
</div>
<ng-scrollbar
    #scrollbar
    class="console"
    [class.shadow]="scrollbar?.viewport?.scrollTop > 2"
>
    <div cdkVirtualScrollingElement [style.height]="filteredLines.length*lineHeight + 'px'">
        @for (line of renderedLines; track line) {
            @if (line.rendered) {
                <div
                    class="line"
                    [class.error]="['error', 'fatal'].includes(line.level?.toLowerCase())"
                    [class.warning]="['warning', 'warn'].includes(line.level?.toLowerCase())"
                    [style.height]="lineHeight + 'px'"
                    [attr.index]="line.index"
                    [style.top]="(line.index*lineHeight)+'px'"
                >
                    @if (line.stream == "agent") {
                        <span class="process agent">
                            @if (line.block == "start") {
                                <span class="expansion_toggle">
                                    <mat-icon
                                        [style.transform]="line._expanded ? 'rotate(90deg)' : ''"
                                        fontIcon="navigate_next"
                                    />
                                </span>
                            }
                            @else if (["error", "fatal"].includes(line.level)) {
                                <span class="expansion_toggle" (click)="viewLineData(line)">
                                    <mat-icon
                                        fontIcon="loupe"
                                    />
                                </span>

                            }
                            @else {
                                <span class="blank"></span>
                            }
                            @if (showTimestamps) {
                                <span class="time" (dblclick)="viewLineData(line)">{{line?.time}} </span>
                            }
                            @if (["error", "fatal"].includes(line.level)) {
                                <span class="message">[agent] {{line['error']?.trim() || line.msg?.trim()}} {{line._original?.['message']?.trim()}}</span>
                            }
                            @else {
                                <span class="message">[agent] {{line.msg?.trim()}} {{line._original?.['message']?.trim()}}</span>
                            }
                        </span>
                    }
                    @else if (line.stream == 'stdout') {
                        <span class="process stdout">
                            <ng-container [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{'$implicit': line}" />
                        </span>
                    }
                    @else if (line.stream == 'stderr') {
                        <span class="process stderr">
                            <ng-container [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{'$implicit': line}" />
                        </span>
                    }
                </div>
            }
        }
    </div>
</ng-scrollbar>

<ng-template #rowTemplate let-line>
    <span class="blank"></span>

    @if (showTimestamps) {
        <span class="time" (dblclick)="viewLineData(line)">{{line?.time}} </span>
    }

    <span class="message">
        @for (segment of line.data; track segment) {
        <span class="segment" [style]="segment.css">{{segment.text}}</span>
        }
    </span>
</ng-template>
