<div class="headerbar">
    @if (connected) {
        <span>Ln {{lines.length}}</span>
    }
    @else if (isCompletedRun) {
        <mat-icon fontIcon="history" />
        <span>Ln {{lines.length}}</span>
    }
    @else {
        <mat-icon style="color: #ff5d5d" fontIcon="mobiledata_off" />
    }

    <div style="flex: 1"></div>

    <div
        [ngx-tooltip]="search"
        [ngx-tooltip-config]="{
            triggers: ['click'],
            position: 'bottom',
            alignment: 'center'
        }"
    >
        <mat-icon [style.color]="query.trim().length > 1 ? 'var(--active-item-color)' : ''" fontIcon="search"/>
        <ng-template #search>
            <div style="padding: 12px; display: flex; flex-direction: column;">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input
                        #_ matInput
                        type="text"
                        [value]="query"
                        (keyup)="query = _.value; filterLines()"
                        (paste)="query = _.value; filterLines()"
                        (change)="query = _.value; filterLines()"
                    />
                </mat-form-field>
            </div>
        </ng-template>
    </div>
    <div
        [ngx-tooltip]="filter"
        [ngx-tooltip-config]="{
            triggers: ['click'],
            position: 'bottom',
            alignment: 'center'
        }"
        [style.color]="query.trim().length > 1 ? 'var(--active-item-color)' : ''"
    >
        <mat-icon fontIcon="filter_alt" />
        <ng-template #filter>
            <div style="padding: 12px; display: flex; flex-direction: column;">
                <mat-checkbox
                    labelPosition="before"
                    [checked]="showStdOut"
                    (change)="showStdOut = $event.checked; filterLines()"
                >
                    <span
                        [style.color]="!showStdOut ? 'var(--active-item-color)' : ''"
                    >
                        stdout
                    </span>
                </mat-checkbox>
                <mat-checkbox
                    labelPosition="before"
                    [checked]="showStdErr"
                    (change)="showStdErr = $event.checked; filterLines()"
                >
                    <span
                        [style.color]="!showStdErr ? 'var(--active-item-color)' : ''"
                    >
                        stderr
                    </span>
                </mat-checkbox>
                <mat-checkbox
                    labelPosition="before"
                    [checked]="showAgent"
                    (change)="showAgent = $event.checked; filterLines()"
                >
                    <span
                        [style.color]="!showAgent ? 'var(--active-item-color)' : ''"
                    >
                        [agent]
                    </span>
                </mat-checkbox>
            </div>
        </ng-template>
    </div>

    <div style="flex: 1"></div>

    <!-- <div>change theme</div> -->
    <!-- <div>fullscreen</div> -->
    <!-- <div>expand all</div> -->
    <!-- <div>collapse all</div> -->
    <div (click)="showTimestamps = !showTimestamps">timestamps</div>
    <!-- <div>raw output</div> -->
    <div (click)="goToEnd()">go to end</div>
    <div (click)="downloadLog()">download log</div>
</div>
<ng-scrollbar
    #scrollbar
    class="console"
    [class.shadow]="scrollbar?.viewport?.scrollTop > 2"
    track="all"
>
    <div
        cdkVirtualScrollingElement
        [style.height]="(filteredLines.length*lineHeight + 14) + 'px'"
        [style.width]="(scrollWidth + 14) + 'px'"
        style="position: relative; min-width: 100%;"
    >
        @for (line of renderedLines; track line) {
            <div
                class="line"
                [class.error]="['error', 'fatal'].includes(line.level?.toLowerCase())"
                [class.warning]="['warning', 'warn'].includes(line.level?.toLowerCase())"
                [class.breakpoint]="false"
                [style.height]="lineHeight + 'px'"
                [attr.index]="line._index"
                [style.top]="line._top+'px'"
            >
                @if (!['stdout', 'stderr'].includes(line.level)) {
                    <span class="process agent">
                        @if (line.record.block == "start") {
                            <span class="expansion_toggle">
                                <mat-icon
                                    [style.transform]="line._expanded ? 'rotate(90deg)' : ''"
                                    fontIcon="navigate_next"
                                />
                            </span>
                        }
                        @else if (["error", "fatal"].includes(line.level)) {
                            <span class="expansion_toggle" (click)="viewLineData(line)">
                                <mat-icon
                                    fontIcon="loupe"
                                />
                            </span>
                        }
                        @else {
                            <span class="blank"></span>
                        }
                        @if (showTimestamps) {
                            <span class="time" (dblclick)="viewLineData(line)">{{line?.timestamp}} </span>
                        }

                        <ng-container [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{'$implicit': line}" />
                    </span>
                }
                @else if (line.level == 'stdout') {
                    <span class="process stdout">
                        <ng-container [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{'$implicit': line}" />
                    </span>
                }
                @else if (line.level == 'stderr') {
                    <span class="process stderr">
                        <ng-container [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{'$implicit': line}" />
                    </span>
                }
            </div>
        }
    </div>
</ng-scrollbar>

<ng-template #rowTemplate let-line>
    @if (['stdout', 'stderr'].includes(line.level)) {
        <span class="blank"></span>

        @if (showTimestamps) {
            <span class="time" (dblclick)="viewLineData(line)">{{line?.timestamp}} </span>
        }
    }

    <span class="message">
        <span>{{!['stdout', 'stderr'].includes(line.level) ? '[agent]' : '[' + line.level + ']'}} </span>

        @for (segment of line.html; track segment) {
            <span class="segment" [style]="segment.css" [innerHTML]="segment.text"></span>
        }
    </span>
</ng-template>


<!-- Verify that both children occupy the same width -->
<div #fontDetector class="font-detector">
    <div>M</div>
    <div>.</div>
</div>
