<!-- <div class="root state-{{stage?.['_latestJob']?.state}}"> -->
    <div class="header">
        <table>
            <thead>
                <tr>
                    <td>Pipeline</td>
                    <td>Instance</td>
                    <td>Stage</td>
                    <td>Instance</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{pipelineInstance.spec?.label}}</td>
                    <td>{{pipelineInstance.spec?.stats?.runCount}}</td>
                    <td>{{stage?.label}}</td>
                    <td>{{pipelineInstance.id}}</td>
                </tr>
            </tbody>
        </table>

        <div class="icon-buttons">
            @if (['stopped', 'failed'].includes(pipelineInstance.status.phase)) {
                <button mat-icon-button (click)="onPipelineRestart()">
                    <mat-icon>replay</mat-icon>
                </button>
            }
            <button mat-icon-button>
                <mat-icon>settings</mat-icon>
            </button>
        </div>
    </div>
    <div class="metadata">

    </div>

    <div class="content">
        <div style="display: flex; justify-content: space-between;">
            <div class="controls">
                <button mat-flat-button [disabled]="1">Rerun Failed</button>
                <button mat-flat-button [disabled]="1">Rerun Selected</button>
            </div>
            <div class="stats">
                <div><span>Building: </span><span>0</span></div>
                <div><span>Passed: </span><span>0</span></div>
                <div><span>Failed: </span><span>0</span></div>
            </div>
        </div>


        <div class="table">
            <!-- Table -->

            <p-table
                #dt1
                [value]="stage.jobs"
                [tableStyle]="{'min-width': '60rem'}"
                [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button mat-mini-fab matTooltip="Clear" (click)="dt1.clear()">
                            <mat-icon>filter_alt_off</mat-icon>
                        </button>

                        <mat-form-field>
                            <mat-label>
                                <mat-icon>search</mat-icon>
                                Search
                            </mat-label>
                            <input
                                #_
                                matInput
                                type="text"
                                (ngModelChange)="dt1.filterGlobal(_.value, 'contains')"
                                placeholder="Search"
                            />
                        </mat-form-field>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="label" [width]="240">
                            Job Name
                            <p-sortIcon field="label"></p-sortIcon>
                            <p-columnFilter type="text" field="label" display="menu"/>
                        </th>
                        <!-- <th pSortableColumn="state" [width]="130">
                            State
                            <p-sortIcon field="state"></p-sortIcon>
                            <p-columnFilter type="text" field="state" display="menu"/>
                        </th> -->
                        <!-- ? What does this column _actually_ represent? -->
                        <th pSortableColumn="timeline" [width]="200">
                            Timeline
                            <p-sortIcon field="timeline"></p-sortIcon>
                            <p-columnFilter type="text" field="timeline" display="menu"/>
                        </th>
                        <th pSortableColumn="duration" [width]="150">
                            Duration
                            <p-sortIcon field="duration"></p-sortIcon>
                            <p-columnFilter type="number" field="duration" display="menu"/>
                        </th>

                        <!-- ? What is this really beneficial for? -->
                        <th pSortableColumn="agent">
                            Agent
                            <p-sortIcon field="agent"></p-sortIcon>
                            <p-columnFilter type="text" field="agent" display="menu"/>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-job>
                    <tr>
                        <td>
                            <div style="display: flex; align-items: center;">
                                <app-job-instance-icon [jobInstance]="job" />

                                @if (job._instance) {
                                    <button mat-icon-button (click)="onViewLogs(job)" matTooltip="Open Job">
                                        <mat-icon>terminal</mat-icon>
                                    </button>
                                }
                                <div>{{job.label}}</div>
                            </div>
                        </td>
                        <td>
                            <svg style="width: 100%; height: 12px; border-radius: 3px;">
                                <!-- <rect x="0" y="0"
                                    width="100%"
                                    height="100%"
                                    style="fill: #f00"></rect>
                                <rect x="0" y="0"
                                    [attr.width]="getProgressDuration(job._instance?.uploadEpoch, job._instance?.endEpoch) + '%'"
                                    height="100%"
                                    style="fill: rgb(0, 255, 13)"></rect>
                                <rect x="0" y="0"
                                    [attr.width]="getProgressDuration(job._instance?.buildEpoch, job._instance?.uploadEpoch) + '%'"
                                    height="100%"
                                    style="fill: rgb(0, 38, 255)"></rect>
                                <rect x="0" y="0"
                                    [attr.width]="getProgressDuration(job._instance?.startEpoch, job._instance?.buildEpoch) + '%'"
                                    height="100%"
                                    style="fill: rgb(255, 242, 0)"></rect>
                                <rect x="0" y="0"
                                    [attr.width]="getProgressDuration(job._instance?.initEpoch, job._instance?.startEpoch) + '%'"
                                    height="100%"
                                    style="fill: rgb(255, 0, 195)"></rect>
                                <rect x="0" y="0"
                                    [attr.width]="getProgressDuration(job._instance?.queueEpoch, job._instance?.initEpoch) + '%'"
                                    height="100%"
                                    style="fill: rgb(255, 0, 195)"></rect> -->
                            </svg>
                            <ng-template>
                                <!-- <app-duration-viewer [epoch]="job._instance?.queueEpoch" /> -->
                                <!-- <app-duration-viewer [epoch]="job._instance?.startEpoch" /> -->
                                {{job._instance?.endEpoch}}
                            </ng-template>
                        </td>
                        <td>
                            <app-duration-viewer
                                [startEpoch]="job._instance?.queueEpoch"
                                [endEpoch]="job._instance?.endEpoch"
                            />
                        </td>
                        <td>
                            <!-- TODO: Link this to _something_ -->
                            {{job._instance?.kubePodName}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
<!-- </div> -->
