@if (jobInstance) {
    <div class="controls">
        <app-job-instance-icon [jobInstance]="jobInstance"/>

        <div>
            <span>{{job.label}}</span>
        </div>

        <div style="flex: 1"></div>

        <div>
            @if (!completeStates.includes(jobInstance.state)) {
                <button mat-mini-fab matTooltip="Cancel Job Instance"  (click)="killJob()">
                    <mat-icon>stop_circle</mat-icon>
                </button>
            }
        </div>
    </div>

    <div class="content">
        <mat-tab-group
            [mat-stretch-tabs]="false"
            [animationDuration]="200"
            [(selectedIndex)]="selectedIndex"
            (selectedIndexChange)="
                $event == 0 ? (logs.refocusPanel()) :
                $event == 1 ? (loadTerminal=true) : null
            "
        >
            <mat-tab label="Output">
                <app-job-logs
                    #logs
                    [jobInstance]="jobInstance"
                />
            </mat-tab>
            <mat-tab label="Shell" [disabled]="completeStates.includes(jobInstance.state)">
                @if (loadTerminal) {
                    <app-xterm-wrapper
                        [jobInstance]="jobInstance"
                    />
                }
            </mat-tab>
            <mat-tab label="File Explorer" [disabled]="completeStates.includes(jobInstance.state)">
                <ng-template matTabContent>
                    @if (config) {
                        <app-filemanager
                            gridSize="small"
                            [config]="config"
                        />
                    }
                </ng-template>
            </mat-tab>
            <mat-tab [disabled]="completeStates.includes(jobInstance.state)">
                <ng-template mat-tab-label>
                    <mat-icon>experiment</mat-icon>
                    Metrics
                </ng-template>

                <agent-metrics-monitor [jobInstance]="jobInstance"/>
            </mat-tab>
            <!-- <mat-tab label="Tests">???</mat-tab> -->
            <!-- <mat-tab label="Artifacts"></mat-tab> -->
            <!-- <mat-tab label="Sources">???</mat-tab> -->
        </mat-tab-group>

        @if (breakpoints.length > 0) {
            <div class="breakpoints">
                <p>Breakpoints</p>
                @for (breakpoint of breakpoints; track breakpoint) {
                    <div class="breakpoint">
                        @if(breakpoint.task) {
                            <div style="display: flex;flex-direction: column;">
                                <span>Task {{breakpoint.task?.label}}</span>
                                <span>Group {{breakpoint.taskGroup?.label}}</span>
                            </div>
                        }
                        @else {
                            <span>{{breakpoint.id}}</span>
                        }
                        <div style="flex: 1"></div>

                        @if (breakpoint.allowRetry) {
                            <button mat-mini-fab (click)="clearBreakpoint(breakpoint, true)">
                                <mat-icon>replay</mat-icon>
                            </button>
                        }
                        <button mat-mini-fab (click)="clearBreakpoint(breakpoint, false)">
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                    </div>
                }
            </div>
        }
    </div>
}


