
<div class="contents">
    <div class="sidebar" style="width: 400px;">
        <div style="padding: 12px; border-bottom: 1px solid #2b2b2b">
            <mat-form-field style="width: 100%;">
                <mat-label>Search</mat-label>
                <input matInput type="text" [(ngModel)]="parent.filter" (ngModelChange)="parent.filterPipelines()" />
            </mat-form-field>

            <div style="display: flex; align-items: center; gap: 12px">
                <div style="flex: 1"></div>
                <button mat-flat-button (click)="parent.importPipeline()"><mat-icon>upload</mat-icon>Import</button>
                <button mat-flat-button (click)="parent.newPipeline()"><mat-icon>add</mat-icon>New</button>
            </div>
        </div>
        <ng-scrollbar
            style="height: 100%; width: 100%"
            track="vertical"
            pointerEventsMethod="scrollbar"
        >
            <cdk-virtual-scroll-viewport
                itemSize="72"
                scrollViewport
            >
                <div
                    style="height: 72px"
                    class="row"
                    *cdkVirtualFor="let pipeline of parent.filteredPipelines"
                    [class.selected]="pipeline == parent.selectedPipeline"
                    (click)="parent.selectPipeline(pipeline)"
                    [ngx-contextmenu]="parent.ctxMenu"
                    [ngx-menu-context]="pipeline"
                >
                    <!-- If the pipeline isn't active, show a button to turn it on -->
                    <!-- @if (pipeline.state != 'active') {
                        <mat-icon
                            (click)=""
                        >play</mat-icon>
                    } -->

                    <div>
                        <div class="title">{{pipeline.label}}</div>
                        <div class="active_stage">{{pipeline.group}}</div>
                    </div>
                    <div style="flex: 1"></div>
                    <div (click)="1">
                        @if (pipeline.isFavorite) {
                            <mat-icon>star</mat-icon>
                        }
                        @else {
                            <mat-icon>star</mat-icon>
                        }
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </ng-scrollbar>
    </div>

    <div style="flex: 1; display: flex; flex-direction: column;">
        <div class="header">
            <span class="title">
                {{parent.selectedPipeline?.label ?? 'Select a Pipeline'}}
            </span>
            <div style="flex: 1"></div>

            @if (parent.selectedPipeline) {
                <a href="#/Pipelines/{{parent.selectedPipeline?.id}}">
                    <button mat-flat-button>
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                </a>
                <button mat-flat-button color="primary" (click)="parent.triggerPipeline()">
                    <mat-icon>rocket</mat-icon>
                    Run
                </button>
            }
        </div>

        <div class="header" style="display: flex; align-items: center;">
            <div style="width: 400px;">Release</div>
            <!-- <div style="">Created</div> -->
            <div>Stage</div>
        </div>

        @if (parent.pipelineInstances?.length > 0) {
            <ng-scrollbar
                style="height: 100%; width: 100%; flex: 1"
                track="vertical"
                pointerEventsMethod="scrollbar"
            >
                <cdk-virtual-scroll-viewport
                    itemSize="64"
                    scrollViewport
                >
                    <div
                        class="row"
                        style="height: 64px;"
                        *cdkVirtualFor="let instance of parent.pipelineInstances"
                        [ngx-contextmenu]="parent.instanceCtxMenu"
                        [ngx-menu-context]="{ pipeline: parent.selectedPipeline, instance }"
                        [attr.pipeline-id]="parent.selectedPipeline?.id"
                        [attr.pipeline-instance]="instance.id"
                    >
                        <div class="name">
                            <div>Release {{instance.identifier}} - {{instance.status.phase}}</div>
                            <div>{{instance.group}}</div>
                        </div>
                        <div>{{instance.stats.startEpoch}}</div>
                        <div class="stages">
                            @for (stage of instance.spec.stages; track stage) {
                                @if (!stage.disabled) {
                                    <div
                                        class="stage-block"
                                        [class.requires_approval]="stage['_isReadyForApproval']"
                                        [class.filled]="stage.jobs?.length > 0"
                                        [class.outlined]="!(stage.jobs?.length > 0)"
                                        [class.pending]="stage?.['_state'] == 'pending'"
                                        [class.cancelled]="stage?.['_state'] == 'cancelled'"
                                        [class.queued]="stage?.['_state'] == 'queued'"
                                        [class.initializing]="stage?.['_state'] == 'initializing'"
                                        [class.cloning]="stage?.['_state'] == 'cloning'"
                                        [class.building]="stage?.['_state'] == 'building'"
                                        [class.sealing]="stage?.['_state'] == 'sealing'"
                                        [class.frozen]="stage?.['_state'] == 'frozen'"
                                        [class.failed]="stage?.['_state'] == 'failed'"
                                        [class.finished]="stage?.['_state'] == 'finished'"
                                        [matTooltip]="stage['_isReadyForApproval'] ? 'Stage requires Approval' : stage?.['_state']"
                                        [ngx-tooltip]="stage.jobs?.length > 0 ? tooltip : null"
                                        [ngx-tooltip-context]="{ instance, stage }"
                                        [ngx-tooltip-config]="{ position: 'bottom', alignment: 'start', triggers:['click'], stayOpen: true }"
                                        [ngx-contextmenu]="parent.stageCtxMenu"
                                        [ngx-menu-context]="{ pipeline: parent.selectedPipeline, instance, stage }"
                                        [attr.pipeline-id]="parent.selectedPipeline?.id"
                                        [attr.pipeline-instance]="instance.id"
                                        [attr.stage-id]="stage.id"
                                        (click)="(stage['_isReadyForApproval']) ? parent.approveStage(instance, stage) : 1"
                                    >
                                        @if (stage['_isReadyForApproval']) {
                                            <mat-icon fontIcon="rule"/>
                                        }

                                        @else {
                                            @switch(stage?.['_state']) {
                                                @case ("pending") { <mat-icon fontIcon="pending" /> }
                                                @case ("queued") { <mat-icon fontIcon="pending" /> }
                                                @case ("initializing") { <mat-icon fontIcon="start" /> }
                                                @case ("cancelled") { <mat-icon fontIcon="block" /> }
                                                @case ("cloning") { <mat-icon fontIcon="downloading" /> }
                                                @case ("building") { <mat-icon class="rotate" fontIcon="change_circle" /> }
                                                @case ("sealing") { <mat-icon fontIcon="archive" /> }
                                                @case ("frozen") { <mat-icon fontIcon="pause" /> }
                                                @case ("failed") { <mat-icon fontIcon="cancel" style="color: #b71c1c;"/> }
                                                @case ("finished") { <mat-icon fontIcon="check_circle" /> }
                                                @case ("stopped") { <mat-icon fontIcon="tag" /> }
                                            }
                                        }
                                        <div class="label">{{stage.label}}</div>

                                        <!-- @if (![null, "pending", "failed", "finished", 'cancelled'].includes(stage?.['_state'])) {
                                            <mat-progress-bar
                                                color="primary"
                                                mode="indeterminate"
                                            />
                                        } -->
                                    </div>
                                    <ng-template #tooltip let-data>
                                        <app-stage-popup
                                            [pipelineInstance]="data.instance"
                                            [stage]="data.stage"
                                        />
                                    </ng-template>
                                }
                            }
                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>
            </ng-scrollbar>
        }
        @else {
            <p class="empty-message">This pipeline has no recorded runs</p>
        }
    </div>
</div>
