:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.header {
    height: 64px;
    flex: 0 0 64px;
    display: flex;
    align-items: center;
    background-color: #181818;
    border-bottom: 1px solid #2b2b2b;
    padding: 0 24px;
    gap: 12px;

    .title {
        font-weight: 600;
        font-size: 20px;
    }
}

.contents {
    display: flex;
    flex: 100%;
    overflow: hidden;
}

.sidebar {
    background-color: #181818;
    border-right: 1px solid #2b2b2b;
}

.row {
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 12px;
    cursor: pointer;

    &.selected {
        background-color: #37373d;
    }

    &:focus.selected {
        background-color: #04395e;
    }

    .title {
        font-weight: 600;
    }
    .active_stage {
        color: var(--text-subtle-color);
    }
    .name {
        width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
    }
    .stages {
        display: flex;
        gap: 12px;
    }
}

.stage-block {
    position: relative;
    display: flex;
    align-items: center;
    height: 36px;
    width: 120px;
    --background-color: #4c4c4c;
    background-color: var(--background-color);
    border: 1px solid #2b2b2b;
    border-radius: 6px;
    overflow: hidden;
    gap: 8px;
    font-weight: bolder;
    transition: color 100ms ease, border-color 100ms ease, background-color 100ms ease;

    &.running {
        padding-bottom: 4px;
    }

    mat-icon {
        margin-left: 8px;
        font-size: 20px;
        height: 20px;
        width: 20px;
        flex: 0 0 20px
    }

    .label {
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 8px;
    }

    mat-progress-bar {
        position: absolute;
        bottom: 0;
        height: 2px;
    }

    &.failed {
        --background-color: #7a311e;
        --border-color: #ff5722;
        --color: #fff;

        --filled-background-color: #f08469;
        --filled-color: #5e261b;
    }
    &.finished {
        --background-color: #23796d;
        --border-color: #28ff97;
        --color: #fff;

        --filled-color: #1b5e20;
        --filled-background-color: #69f0ae;
    }
    &.requires_approval {
        --background-color: #004174;
        --border-color: #2196F3;
        --color: #fff;

        --filled-background-color: #69ccf0;
        --filled-color: #1b435e;
    }
    &.filled {
        background-color: var(--filled-background-color, var(--background-color));
        color: var(--filled-color);
    }
    &.outlined {
        color: var(--color);
        border: 2px solid var(--border-color);
    }
}


