:host {
    display: flex;
    width: 1080px;
    height: 780px;
    overflow: hidden;
    flex-direction: column;
}

:host ::ng-deep {
    .mat-mdc-tab-labels {
        padding: 0 48px 0 0;
    }
    .mat-mdc-tab-body-content {
        padding: 0 24px 24px 24px;
    }
}

hr {
    border-color: var(--table-header-border-color);
}

.exit-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;
}

input[type="color"] {
    width: calc(100% - 54px);
    margin-left: 54px;
}

mat-slide-toggle {
    margin-bottom: 16px;
}
app-vscode {
    max-height: 100vh;
}

textarea {
    .mat-mdc-form-field .mat-mdc-input-element {
        line-height: 18px;
        padding: 24px 0 12px 0;
    }
}

.controls {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px;
    background: #0e0e0e;
}

.breadcrumb {
    display: flex;
    align-items: center;

    div {
        cursor: pointer;
        user-select: none;
        text-decoration: underline;
        text-decoration-color: #0000;
        transition: text-decoration-color 200ms ease;

        &:hover {
            text-decoration-color: var(--theme-primary);
        }
    }
}

:host ::ng-deep {
    .mat-mdc-form-field {
        height: unset;
        font-weight: 400;
        font-size: 16px;
        width: 100%;
        // .mat-mdc-form-field-infix {
        //     // padding: ;
        // }

        // .mat-mdc-select-arrow-wrapper {
        //     top: 12px;
        //     position: relative;
        // }

        // textarea.mat-mdc-input-element {
        //     padding: 12px 0;
        // }

        // .mat-mdc-input-element {
        //     height: 42px !important;
        // }
        // .mat-mdc-text-field-wrapper {
        //     height: 42px;

        //     .mat-mdc-form-field-flex .mat-mdc-floating-label {
        //         top: 21px;
        //         &.mdc-floating-label--float-above {
        //             top: 18px
        //         }
        //     }
        // }
        // &.textbox .mat-mdc-text-field-wrapper,
        // &.textbox .mat-mdc-input-element {
        //     height: unset !important;
        // }

        .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control.mdc-text-field__input[type=color] {
            height: 36px;
            margin: -12px 54px 0px;
        }
    }


    .mdc-text-field--filled .mdc-floating-label--float-above {
        transform: translateY(-106%) scale(.85);
    }
}
