:host {
    display: flex;
    width: 1080px;
    height: 780px;
    overflow: hidden;
    flex-direction: column;
}

:host ::ng-deep {
    .mat-mdc-tab-labels {
        padding: 0 48px 0 0;
    }
}

hr {
    border-color: var(--table-header-border-color);
}

.exit-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;
}

input[type="color"] {
    width: calc(100% - 54px);
    margin-left: 54px;
}

mat-slide-toggle {
    margin-bottom: 16px;
}
app-vscode {
    max-height: 100vh;
}

textarea {
    .mat-mdc-form-field .mat-mdc-input-element {
        line-height: 18px;
        padding: 24px 0 12px 0;
    }
}

.controls {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px;
    background: #0e0e0e;
    height: 64px;
}

.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    ngx-lazy-loader {
        height: 100%;
        display: block;
        overflow: auto;
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 6px;
    line-height: 16px;
    font-size: 16px;
    color: var(--theme-primary);
    margin: 0 24px;

    div {
        cursor: pointer;
        user-select: none;
        text-decoration: underline;
        text-decoration-color: #0000;
        transition: text-decoration-color 200ms ease;
        display: flex;
        line-height: 24px;

        &:hover {
            text-decoration-color: var(--theme-primary);
        }
    }
}

// .form-view {
//     .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
//     .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
//     .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
//         border-color: ;
//     }
// }



:host ::ng-deep {

    mat-tab-group.maintabs>mat-tab-header>.mat-mdc-tab-label-container {
        display: none;
    }

    .maintabs mat-tab-group .mat-mdc-tab-body-content {
        padding: 0 24px 24px 24px;
    }

    .mat-mdc-form-field {
        height: unset;
        font-weight: 400;
        font-size: 16px;
        width: 100%;

        .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control.mdc-text-field__input[type=color] {
            height: 36px;
            margin: -12px 54px 0px;
        }
    }

    .mdc-text-field--filled .mdc-floating-label--float-above {
        transform: translateY(-106%) scale(.85);
    }

    .mdc-text-field--disabled.mdc-text-field--filled {
        background-color: #242424;

    }
    .mdc-text-field--disabled .mdc-floating-label {
        color: rgb(255 255 255 / 80%);
    }
    .mdc-text-field--disabled .mdc-text-field__input {
        color: rgb(255 255 255 / 70%);
    }
}


app-accordion-list {
    position: relative;
    z-index: 1;

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 48px;
        width: 3px;
        background-color: #0000;
        border-radius: 6px;
        transition: background-color 200ms ease;
        z-index: 999;
    }
    &::after {
        z-index: -1;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 48px;
        opacity: 0;
        pointer-events: none;
        background-color: var(--panel-background-color);
        transition: opacity 200ms ease;

        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }

    &.hover::before {
        background-color: var(--theme-primary);
    }
    &.hover::after {
        opacity: 1;
    }
}
