<button class="exit-btn" mat-icon-button (click)="tryClose()"><mat-icon>close</mat-icon></button>


<div *ngIf="pipeline" style="flex: 1 1 100%; overflow: hidden;">
    <mat-tab-group [selectedIndex]="tabIndex" class="maintabs">
        <!-- Pipeline -->
        <mat-tab #tab>
            <mat-tab-group *ngIf="tabIndex == 0">
                <mat-tab label="General">
                    <h4>Basic Settings</h4>

                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input #nameInput matInput type="text" [(ngModel)]="pipeline.label">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Group</mat-label>
                        <input matInput type="text" [(ngModel)]="pipeline.group">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput type="text" [(ngModel)]="pipeline.description"></textarea>
                    </mat-form-field>

                    <h5>Label Template</h5>
                    <app-labeltemplate-editor
                        [labelTemplate]="pipeline.labelTemplate"
                    />
                    <!-- <app-vscode [(code)]="pipeline.labelTemplate" [minimapEnabled]="false" style="height: 240px"></app-vscode> -->

                    <!-- automatic pipeline scheduling -->
                    <mat-checkbox>
                        Automatically run
                    </mat-checkbox>

                    <mat-checkbox [value]="pipeline.cronRunOnlyOnNewSource ? 'true' : 'false'">
                        Run only on new source
                    </mat-checkbox>


                    <h4>Timer Settings</h4>
                    <h5>Cron timer specification</h5>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" [(ngModel)]="pipeline.cronSchedule">
                    </mat-form-field>

                    <h4>Pipeline locking behavior</h4>
                    <mat-radio-group [value]="pipeline.lockingBehavior" (change)="pipeline.lockingBehavior = $event.value" aria-label="Select an option">
                        <mat-radio-button value="singleton">Run single instance of pipeline at a time</mat-radio-button>
                        <mat-radio-button value="singletonNoFail">Run single instance of pipeline and lock on failure</mat-radio-button>
                        <mat-radio-button value="multiple">Run multiple instances(default)</mat-radio-button>
                    </mat-radio-group>

                </mat-tab>
                <mat-tab label="Project Management">
                    <h4>Tracking Tool Integration</h4>
                    <h5>Pattern</h5>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" [(ngModel)]="pipeline.trackingToolPattern">
                    </mat-form-field>

                    <h5>URI</h5>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" [(ngModel)]="pipeline.trackingToolUri">
                    </mat-form-field>
                </mat-tab>
                <mat-tab label="Sources">
                    <app-accordion-list
                        [items]="pipeline.sources"
                        (onCreate)="addSource()"
                    >
                        <ng-template #header let-source>
                            {{source.label}}

                            <mat-icon (click)="editSource(source); $event.stopPropagation()">edit</mat-icon>
                        </ng-template>
                        <ng-template #content let-source>
                            <!-- <div>{{source.type}}</div> -->
                            <div style="display: flex; gap: 12px; pointer-events: none;">
                                <mat-form-field appearance="outline">
                                    <mat-label>URL</mat-label>
                                    <input #nameInput matInput type="text" [(ngModel)]="source.url">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Target Path</mat-label>
                                    <input #nameInput matInput type="text" [(ngModel)]="source.targetPath">
                                </mat-form-field>
                            </div>
                        </ng-template>
                    </app-accordion-list>
                </mat-tab>
                <mat-tab label="Stages">
                    <app-accordion-list
                        #stageList
                        [items]="pipeline.stages"
                        typeName="Stage"
                        [class.hover]="stageList['_hover']"
                        (onCreate)="addStage()"
                        (pointerenter)="stageList['_hover'] = true"
                        (pointerleave)="stageList['_hover'] = false"
                    >
                        <ng-template #header let-stage>
                            {{stage.label}}

                            <mat-icon (click)="editStage(stage); $event.stopPropagation()">edit</mat-icon>
                        </ng-template>
                        <ng-template #content let-stage>
                            <app-accordion-list
                                #jobList
                                [items]="stage.jobs"
                                typeName="Job"
                                [id]="stage.id"
                                [peers]="getStagePeers()"
                                [pipeline]="pipeline"

                                [class.hover]="jobList['_hover']"
                                (onCreate)="addJob(stage)"
                                (pointerenter)="jobList['_hover'] = true; stageList['_hover'] = false"
                                (pointerleave)="jobList['_hover'] = false; stageList['_hover'] = true"
                            >
                                <ng-template #header let-job>
                                    {{job.label}}

                                    <mat-icon (click)="editJob(stage, job); $event.stopPropagation()">edit</mat-icon>
                                </ng-template>
                                <ng-template #content let-job>
                                    <app-accordion-list
                                        #taskGroupList
                                        typeName="Task Group"
                                        [id]="job.id"
                                        [peers]="getJobPeers()"
                                        [pipeline]="pipeline"
                                        [items]="job.taskGroups"
                                        [class.hover]="taskGroupList['_hover']"
                                        (onCreate)="addTaskGroup(job)"
                                        (pointerenter)="taskGroupList['_hover'] = true; stageList['_hover'] = jobList['_hover'] = false"
                                        (pointerleave)="taskGroupList['_hover'] = false; jobList['_hover'] = true"
                                    >
                                        <ng-template #header let-taskGroup>
                                            {{taskGroup.label}}

                                            <mat-icon (click)="editTaskGroup(stage, job, taskGroup); $event.stopPropagation()">edit</mat-icon>
                                        </ng-template>
                                        <ng-template #content let-taskGroup>
                                            <app-accordion-list
                                                #taskList
                                                typeName="Task"
                                                [id]="taskGroup.id"
                                                [peers]="getTaskGroupPeers()"
                                                [pipeline]="pipeline"
                                                [items]="taskGroup.tasks"
                                                [class.hover]="taskList['_hover']"
                                                (onCreate)="addTask(taskGroup)"
                                                (pointerenter)="taskList['_hover'] = true; stageList['_hover'] = jobList['_hover'] = taskGroupList['_hover'] = false"
                                                (pointerleave)="taskList['_hover'] = false; taskGroupList['_hover'] = true"
                                            >
                                                <ng-template #header let-task>
                                                    {{task.label}}

                                                    <mat-icon (click)="editTask(stage, job, taskGroup, task); $event.stopPropagation()">edit</mat-icon>
                                                </ng-template>
                                                <ng-template #content let-task>
                                                    <div style="display: flex; gap: 12px; pointer-events: none; padding-right: 24px;">
                                                        <mat-form-field class="form-view" appearance="fill">
                                                            <mat-label>Command</mat-label>
                                                            <input #nameInput matInput disabled type="text" [value]="task.command">
                                                        </mat-form-field>
                                                        <mat-form-field class="form-view" appearance="fill">
                                                            <mat-label>Arguments</mat-label>
                                                            <input #nameInput matInput disabled type="text" [value]="task.arguments?.join(' ')">
                                                        </mat-form-field>
                                                        <mat-form-field class="form-view" appearance="fill">
                                                            <mat-label>Working Directory</mat-label>
                                                            <input #nameInput matInput disabled type="text" [(ngModel)]="task.workingDirectory">
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- <div class="command">{{task.command}} {{task.arguments?.join(' ')}}</div> -->
                                                </ng-template>
                                            </app-accordion-list>
                                        </ng-template>
                                    </app-accordion-list>
                                </ng-template>
                            </app-accordion-list>
                        </ng-template>
                    </app-accordion-list>
                </mat-tab>
                <mat-tab label="Environment Variables">
                    <app-environment [resource]="pipeline"/>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>

        <!-- Stage -->
        <mat-tab #tab>
            <div class="panel" *ngIf="tabIndex == 1">
                <div class="breadcrumb">
                    <div (click)="tabIndex = 0">
                        <mat-icon>arrow_back</mat-icon>
                        {{pipeline.label}}
                    </div>
                </div>

                <ngx-lazy-loader
                    component="stage-editor"
                    group="dynamic"
                    [inputs]="{
                        stage: selectedStage
                    }"
                    [outputs]="{

                    }"
                />
            </div>
        </mat-tab>

        <!-- Job -->
        <mat-tab #tab>
            <div class="panel" *ngIf="tabIndex == 2">
                <div class="breadcrumb">
                    <div (click)="tabIndex = 0">
                        <mat-icon>arrow_back</mat-icon>
                        {{pipeline.label}}
                    </div>
                    <mat-icon>chevron_right</mat-icon>
                    <div (click)="tabIndex = 1">{{selectedStage.label}}</div>
                </div>

                <ngx-lazy-loader
                    component="job-editor"
                    group="dynamic"
                    [inputs]="{
                        stage: selectedStage,
                        job: selectedJob
                    }"
                    [outputs]="{

                    }"
                />
            </div>
        </mat-tab>

        <!-- Task Group -->
        <mat-tab #tab>
            <div class="panel" *ngIf="tabIndex == 3">
                <div class="breadcrumb">
                    <div (click)="tabIndex = 0">
                        <mat-icon>arrow_back</mat-icon>
                        {{pipeline.label}}
                    </div>
                    <mat-icon>chevron_right</mat-icon>
                    <div (click)="tabIndex = 1">{{selectedStage.label}}</div>
                    <mat-icon>chevron_right</mat-icon>
                    <div (click)="tabIndex = 2">{{selectedJob.label}}</div>
                </div>

                <ngx-lazy-loader
                    component="task-group-editor"
                    group="dynamic"
                    [inputs]="{
                        stage: selectedStage,
                        job: selectedJob,
                        taskGroup: selectedTaskGroup
                    }"
                    [outputs]="{

                    }"
                />
            </div>
        </mat-tab>
        <!-- Task -->
        <mat-tab #tab>
            <div class="panel" *ngIf="tabIndex == 4">
                <div class="breadcrumb">
                    <div (click)="tabIndex = 0">
                        <mat-icon>arrow_back</mat-icon>
                        {{pipeline.label}}
                    </div>
                    <mat-icon>chevron_right</mat-icon>
                    <div (click)="tabIndex = 1">{{selectedStage.label}}</div>
                    <mat-icon>chevron_right</mat-icon>
                    <div (click)="tabIndex = 2">{{selectedJob.label}}</div>
                    <mat-icon>chevron_right</mat-icon>
                    <div (click)="tabIndex = 3">{{selectedTaskGroup.label}}</div>
                </div>

                <ngx-lazy-loader
                    component="task-editor"
                    group="dynamic"
                    [inputs]="{
                        stage: selectedStage,
                        job: selectedJob,
                        taskGroup: selectedTaskGroup,
                        task: selectedTask
                    }"
                    [outputs]="{

                    }"
                />
            </div>
        </mat-tab>

        <!-- Source -->
        <mat-tab #tab>
            <div class="panel" *ngIf="tabIndex == 5">
                <div class="breadcrumb">
                    <div (click)="tabIndex = 0">
                        <mat-icon>arrow_back</mat-icon>
                        {{pipeline.label}}
                    </div>
                </div>
                <ngx-lazy-loader
                    style="padding: 24px"
                    component="source-editor"
                    group="dynamic"
                    [inputs]="{
                        source: selectedSource
                    }"
                    [outputs]="{

                    }"
                />
            </div>
        </mat-tab>
    </mat-tab-group>
</div>


<div class="controls">
    <button mat-flat-button (click)="save()"><mat-icon>done</mat-icon> Save</button>
    <button mat-flat-button (click)="cancel()"><mat-icon>done</mat-icon> Cancel</button>
</div>

