
@mixin light-theme() {

    --background-color: #f7f7f8;
    --dim-background-color: #f1f1f1;
    --panel-background-color: #fff;

    --text-color: #212121;
    --text-subtle-color: #5b5b5b;

    // TODO: These aren't set right for light mode
    --theme-primary: #18ffff;
    --theme-secondary: #07fa87;

    // Context Menu coloring
    --ctx-menu-text-color: #333;
    --ctx-menu-disabled-text-color: #666;
    --ctx-menu-background-color: #d1d1d1;
    --ctx-menu-hover-background-color: #81d4fa;
    --ctx-menu-hover-text-color: #000;
    --ctx-menu-shortcut-text-color: #444;
    --ctx-menu-separator-color: #e2e2e2;

    // Progress spinner color
    --mdc-circular-progress-active-indicator-color: #fff;
    --mdc-dialog-container-color: #0000;


    --splitter-hover-background-color: rgb(7, 250, 135);
    --splitter-background-color: #999;
}
