<h5>Environment Variables</h5>

<div>
    <div *ngFor="let variable of resource.environment"></div>
</div>

<app-environment-variable
    *ngFor="let variable of variables"
    [variable]="variable"
/>

<button
    #btn
    mat-icon-button
    matTooltip="Add an environment variable"
    (click)="createVariable()"
>
    <mat-icon>add</mat-icon>
</button>

<hr />
<h5>Secrets</h5>

<app-environment-variable
    *ngFor="let variable of secrets"
    [secret]="true"
    [variable]="variable"
/>

<button
    #btn
    mat-icon-button
    matTooltip="Add a secret variable"
    (click)="createSecret()"
>
    <mat-icon>add</mat-icon>
</button>
