:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    --mat-sidenav-container-background-color: #363636;
    --mat-expansion-container-background-color: #0000;
    // --mdc-secondary-navigation-tab-container-height
}

mat-sidenav-container {
    flex: 1;

    ::ng-deep {
        .mat-mdc-tab-header {
            --mdc-secondary-navigation-tab-container-height: 42px;
        }

        .mat-mdc-tab-group.header-only .mat-mdc-tab-body-wrapper {
            display: none;
        }
    }

    mat-tab-group.header-only {
        height: 42px;
        background: #1a1a1a;
    }

    ::ng-deep {
        .add-btn {
            padding: 0;
            min-width: unset;

            .mdc-tab__text-label {
                height: 100%;
            }
        }

        .job-tab-label {
            padding: 0;
            min-width: unset;

            .mdc-tab__text-label {
                height: 100%;
            }

            .label {
                padding: 0 24px;
                height: 100%;
                line-height: 42px;
            }
        }
    }

    ngx-reactflow {
        flex: 1;
        background: #313131;
    }
}

mat-sidenav {
    width: 640px;
    min-width: 400px;
    padding: 12px;

    ::ng-deep {
        .ng-scroll-content {
            width: 100%;
            padding: 24px;
        }

        .mat-expansion-panel:not([class*=mat-elevation-z]) {
            box-shadow: 0;
        }
    }
}

.headerbar {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
    height: 48px;
}

.titlebar {
    display: flex;
    gap: 12px;
    padding: 0 12px;
    align-items: center;
}

button {
    border: 0;
    background: #0000;
    border-radius: 6px;
    transition: background-color 100ms ease;

    &:hover {
        background-color: #2a2d2e;
    }
}


ngx-stackedit {
    height: 260px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
