@if (stage) {
    <mat-sidenav-container>
        <mat-sidenav-content cdkDropListGroup>
            <div style="display: flex; flex-direction: column; height: 100%">
                <div class="headerbar">
                    <div>Editing ({{stage.label}})</div>
                    <div style="flex: 1"></div>

                    <button mat-flat-button (click)="addTaskGroup(selectedJob)">
                        <mat-icon>add</mat-icon> Task Group
                    </button>

                    <button mat-flat-button (click)="deleteStage()">
                        <mat-icon>delete_forever</mat-icon>
                        Delete
                    </button>

                    <button mat-flat-button (click)="close.emit()">
                        <mat-icon>arrow_back</mat-icon>
                        Back
                    </button>
                </div>

                <mat-tab-group
                    class="header-only"
                    [mat-stretch-tabs]="false"
                    [(selectedIndex)]="selectedJobIndex"
                    (selectedIndexChange)="selectJob(stage.jobs[$event])"
                >
                    @for (job of stage.jobs; track job; let i = $index) {
                        <mat-tab labelClass="job-tab-label">
                            <ng-template mat-tab-label>
                                <div
                                    class="label"
                                    [ngx-contextmenu]="jobMenu"
                                    [ngx-menu-context]="job"
                                    (click)="selectJob(job)"
                                >
                                    {{job.label}}
                                </div>
                            </ng-template>
                        </mat-tab>
                    }
                    <mat-tab labelClass="add-btn">
                        <ng-template mat-tab-label>
                            <button (click)="addJob(); $event.stopPropagation()" matTooltip="Add Job">
                                <mat-icon>add</mat-icon>
                            </button>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>

                <ngx-reactflow
                    [id]="selectedJob.id"
                    [nodes]="diagramList[selectedJobIndex]?.nodes ?? []"
                    [edges]="diagramList[selectedJobIndex]?.edges ?? []"
                    [nodeTypes]="nodeTypes"
                    (onNodeContextMenu)="onNodeCtxMenu($event)"
                />
            </div>

            <div class="shadow-right"></div>
        </mat-sidenav-content>
        <mat-sidenav mode="side" position="end" [opened]="true">
            @switch (currentSelection) {
                @case("job") {
                    @if (selectedJob) {
                        <ng-scrollbar>
                            <mat-form-field style="width: 100%">
                                <mat-label>Label</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    [(ngModel)]="selectedJob.label"
                                    (change)="dataChangeEmitter.next(0)"
                                />
                            </mat-form-field>

                            <p style="margin-top: 0;">Description</p>
                            <ngx-stackedit
                                (onImageUpload)="fs.onImageUpload(pipeline, $event)"
                                [(value)]="selectedJob.description"
                                (valueChange)="dataChangeEmitter.next(0)"
                                showPreview="off"
                                showToc="off"
                            />

                            <p>Kube settings</p>
                            <div>
                                <mat-form-field style="width: 100%">
                                    <mat-label>Container Image</mat-label>
                                    <input matInput type="text" [(ngModel)]="selectedJob.kubeContainerImage" [placeholder]="defaultContainerImage" />
                                </mat-form-field>
                                <div style="display: flex; gap: 12px">
                                    <mat-form-field style="flex: 1">
                                        <mat-label>CPU Request</mat-label>
                                        <input matInput type="text" [(ngModel)]="selectedJob.kubeCpuRequest"/>
                                    </mat-form-field>
                                    <mat-form-field style="flex: 1">
                                        <mat-label>CPU Limit</mat-label>
                                        <input matInput type="text" [(ngModel)]="selectedJob.kubeCpuLimit"/>
                                    </mat-form-field>
                                </div>
                                <div style="display: flex; gap: 12px">
                                    <mat-form-field style="flex: 1">
                                        <mat-label>Mem Request</mat-label>
                                        <input matInput type="text" [(ngModel)]="selectedJob.kubeMemRequest"/>
                                    </mat-form-field>
                                    <mat-form-field style="flex: 1">
                                        <mat-label>Mem Limit</mat-label>
                                        <input matInput type="text" [(ngModel)]="selectedJob.kubeMemLimit"/>
                                    </mat-form-field>
                                </div>
                            </div>

                            <app-variables-section
                                [item]="selectedJob"
                                (valueChange)="dataChangeEmitter.next(0)"
                            />
                            <app-artifacts-section
                                [job]="selectedJob"
                                (valueChange)="dataChangeEmitter.next(0)"
                            />
                        </ng-scrollbar>
                    }
                    @else {
                        Select a task.
                    }
                }
                @case("taskGroup") {
                    @if (selectedTaskGroup) {
                        <mat-tab-group [mat-stretch-tabs]="false">
                            <mat-tab label="Properties">
                                <ng-scrollbar>
                                    <mat-form-field style="width: 100%">
                                        <mat-label>Task Group Label</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            [(ngModel)]="selectedTaskGroup.label"
                                            (change)="dataChangeEmitter.next(0)"
                                        />
                                    </mat-form-field>

                                    <p style="margin-top: 0;">Description</p>
                                    <ngx-stackedit
                                        (onImageUpload)="fs.onImageUpload(pipeline, $event)"
                                        [(value)]="selectedTaskGroup.description"
                                        (valueChange)="dataChangeEmitter.next(0)"
                                        showPreview="off"
                                        showToc="off"
                                    />

                                    <mat-form-field style="width: 100%; margin-top: 12px">
                                        <mat-label>Preceding task groups</mat-label>
                                        <mat-select
                                            multiple
                                            [(value)]="selectedTaskGroup.preTaskGroups"
                                            (valueChange)="renderGraph(selectedJob, selectedJobIndex)"
                                            (valueChange)="dataChangeEmitter.next(0)"
                                        >
                                            @for (taskGroup of filterPrecedingTaskGroups(selectedTaskGroup); track taskGroup) {
                                                <mat-option
                                                    [value]="taskGroup.id"
                                                >
                                                    {{taskGroup.label}}
                                                </mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                    @if (filterMissingPrecedingTaskGroups(selectedTaskGroup)) {
                                        <div>
                                            <h4 style="margin: 0">Invalid Preceding Task Groups:</h4>
                                            <p style="margin: 4px 0">This task group will not run until these are resolved.</p>

                                            @for (id of filterMissingPrecedingTaskGroups(selectedTaskGroup); track id) {
                                                <div style="color: #ff5252; display: flex; justify-content: space-between; margin-left: 24px">
                                                    * {{id}}

                                                    <mat-icon
                                                        (click)="
                                                            selectedTaskGroup.preTaskGroups.splice(
                                                                selectedTaskGroup.preTaskGroups.indexOf(id),
                                                                1
                                                            )
                                                        "
                                                        style="cursor: pointer"
                                                    >delete_forever</mat-icon>
                                                </div>
                                            }
                                        </div>
                                    }
                                    <app-variables-section
                                        [item]="selectedTaskGroup"
                                        (valueChange)="dataChangeEmitter.next(0)"
                                    />
                                </ng-scrollbar>
                            </mat-tab>
                            <mat-tab label="All">

                            </mat-tab>
                            <mat-tab label="Build">

                            </mat-tab>
                            <mat-tab label="Utility">

                            </mat-tab>
                            <mat-tab label="Test">

                            </mat-tab>
                            <mat-tab label="Package">

                            </mat-tab>
                            <mat-tab label="Deploy">

                            </mat-tab>
                            <mat-tab label="Tool">

                            </mat-tab>
                            <!-- <mat-tab label="Plugins"></mat-tab> -->
                        </mat-tab-group>
                    }
                    @else {
                        Select a Task Group.
                    }
                }
                @case("task") {
                    @if (selectedTask) {
                        <ng-scrollbar>
                            <div>
                                <mat-form-field style="width: 100%">
                                    <mat-label>Task Label</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        [(ngModel)]="selectedTask.label"
                                        (change)="dataChangeEmitter.next(0)"
                                    />
                                </mat-form-field>
                            </div>

                            <mat-form-field style="width: 100%">
                                <mat-label>Kind</mat-label>
                                <mat-select
                                    [value]="selectedTask.kind ?? 'command'"
                                    (valueChange)="dataChangeEmitter.next(0); selectedTask.kind = $event"
                                >
                                    @for (schema of schemas; track schema) {
                                        <mat-option
                                            [value]="schema.kind"
                                        >
                                            {{schema.label}}
                                        </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>

                            <p style="margin-top: 0;">Description</p>
                            <ngx-stackedit
                                (onImageUpload)="fs.onImageUpload(pipeline, $event)"
                                [(value)]="selectedTask.description"
                                (valueChange)="dataChangeEmitter.next(0)"
                                showPreview="off"
                                showToc="off"
                            />

                            <div>
                                <p>Control Flow</p>

                                <mat-checkbox
                                    [(ngModel)]="selectedTask.preBreakpoint"
                                >
                                    Break before Task
                                </mat-checkbox>
                                <mat-checkbox
                                    [(ngModel)]="selectedTask.postBreakpoint"
                                >
                                    Break after Task
                                </mat-checkbox>

                                <!-- <mat-checkbox
                                    [(ngModel)]="selectedTask.postBreakpoint"
                                >
                                    Run only on successful flow
                                </mat-checkbox>

                                <mat-checkbox
                                    [(ngModel)]="selectedTask.postBreakpoint"
                                >
                                    Run only on
                                </mat-checkbox> -->
                            </div>

                            <app-variables-section
                                [item]="selectedTask"
                                (valueChange)="dataChangeEmitter.next(0)"
                            />

                            <app-formio-wrapper
                                [(data)]="selectedTask.taskScriptArguments"
                                (dataChange)="dataChangeEmitter.next(0)"
                                [formSchema]="(schemaMap[selectedTask.kind ?? 'command'] ?? defaultSchema).schema"
                            />
                        </ng-scrollbar>
                    }
                    @else {
                        Select a task.
                    }
                }
            }
        </mat-sidenav>
    </mat-sidenav-container>
}
@else {
    STAGE IS MISSING!
}
