
<div class="toolbar">
    <p>Pipelines</p>
    <div style="flex: 1"></div>

    <button mat-flat-button (click)="importPipeline()"><mat-icon>upload</mat-icon>Import</button>

    <button mat-mini-fab (click)="view = 'list'">
        <mat-icon>list</mat-icon>
    </button>
    <button mat-mini-fab (click)="view = 'grid'">
        <mat-icon>grid_view</mat-icon>
    </button>
</div>

@if (pipelines.length > 0) {
    @switch (view) {
        @case ("list") {
            <app-list-view/>
        }
        @case ("grid") {
            <app-grid-view/>
        }
    }
}
@else {
    <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
        <a (click)="newPipeline()">Create your first pipeline</a>
    </div>
}
