:host {
    display: block;
    transition: opacity 300ms ease-in-out;
    background-color: var(--background-color);
    height: 100%;
    width: 100%;

    &.clear {
        opacity: 0
    }
}

svg {
    height: 100%;
    width: 100%;
}

.text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 18vh);

    font-weight: 400;
}
