<h1>
    Agent Groups
</h1>

<mat-tab-group>
    <mat-tab label="Static Agents">
        <div #scroller (scroll)="onScroll(scroller)" cdkDropListGroup style="height: 100%; overflow: auto">
            <!-- NgFor swimlane -->
            <mat-accordion displayMode="flat" [multi]="true" *ngFor="let group of agentGroups">
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <div class="label">
                            {{group.label}}
                        </div>
                    </mat-expansion-panel-header>

                    <div
                        style="display: flex; flex-direction: column; gap: 6px"
                        (pointerenter)="btn['_hover'] = true"
                        (pointerleave)="btn['_hover'] = false"
                    >
                        <button
                            #btn
                            mat-icon-button
                            matTooltip="Add a pipeline"
                            class="add-button"
                            [style.opacity]="btn['_hover'] ? 1 : 0"
                            (click)="createPipeline({group: group.label})"
                        >
                            <mat-icon>add</mat-icon>
                        </button>

                        <div cdkDrag *ngFor="let data of group.items">
                            <div class="placeholder" *cdkDragPlaceholder></div>
                            <div>
                                <!-- <mat-icon [fontIcon]="data._icon || 'task'"></mat-icon> -->
                                <span>{{data.name}}</span>

                            </div>
                        </div>
                        <div *ngIf="!group.items || group.items.length == 0" class="empty-placeholder">
                            <span>
                                No Agents
                            </span>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-tab>
    <mat-tab label="Elastic Agents">
        <div>
            <mat-accordion displayMode="flat" [multi]="true">
                <mat-expansion-panel expanded="false" *ngFor="let agent of runningElasticAgents">
                    <mat-expansion-panel-header>
                        <div class="label">
                            {{agent.label}}
                        </div>
                    </mat-expansion-panel-header>

                    <div>
                        <!-- metadata... -->
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
        <div>
            <mat-accordion displayMode="flat" [multi]="true">
                <mat-expansion-panel expanded="false" *ngFor="let elasticAgent of elasticAgentConfigurations">
                    <mat-expansion-panel-header>
                        <div class="label">
                            {{elasticAgent.label}}
                        </div>
                    </mat-expansion-panel-header>

                    <div>
                        <!-- metadata... -->
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-tab>
</mat-tab-group>

