@if (users?.length > 0) {
    <p-table
        #dt1
        [value]="users"
        [globalFilterFields]="['id']"
    >
        <ng-template pTemplate="caption">
            <div style="display: flex; gap: 12px">
                <button mat-flat-button (click)="addUser()">Add User</button>

                <button mat-flat-button label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="dt1.clear()">Clear Filters</button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input #_ pInputText type="text" (input)="dt1.filterGlobal(_.value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="label" [width]="240">
                    Name
                    <p-sortIcon field="label"></p-sortIcon>
                    <p-columnFilter type="text" field="login" display="menu"/>
                </th>
                <th pSortableColumn="label" [width]="240">
                    Roles
                    <p-sortIcon field="label"></p-sortIcon>
                    <p-columnFilter type="text" field="roles" display="menu"/>
                </th>
                <th [width]="48"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr
                [ngx-contextmenu]="menu"
                [ngx-menu-context]="user"
            >
                <td>
                    {{user.login || user.id}}
                </td>
                <td>
                    {{user.roles?.join(', ')}}
                </td>
                <td>
                    <button
                        [ngx-menu]="menu"
                        [ngx-menu-context]="user"
                    >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
}
@else {
    Loading...
}
