:host {
    display: flex;
    width: 80vw;
    height: 80vh;
    flex-direction: column;
}

.controls {
    display: flex;
}

cdk-virtual-scroll-viewport {
    height: 100%;
    padding-bottom: 6px;
    margin: 24px;
}


.line {
    white-space: pre;
    border-left: 2px solid #0000;
    transition: border-left-color 200ms ease, color 200ms ease;
    padding-left: 32px;

    &:hover {
        background-color: #ffffff22;
        border-left-color: #0288d1;
        color: #fff;
    }
}

.shell {
    color: #91939d;
}
.stderr {
    color: #f06292
}
