<mat-tab-group *ngIf="job">
    <mat-tab label="General">
        <h4>Basic Settings</h4>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input #nameInput matInput type="text" [(ngModel)]="job.label">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" [(ngModel)]="job.description"></textarea>
        </mat-form-field>


        <!-- automatic pipeline scheduling -->
        <mat-checkbox>
            Clean Directory
        </mat-checkbox>

        <mat-checkbox>
            Clean Artifacts
        </mat-checkbox>

        <mat-checkbox>
            Fetch Sources
        </mat-checkbox>

        <mat-checkbox>
            Only run on previous Stage success
        </mat-checkbox>

    </mat-tab>
    <mat-tab label="Automation" *ngIf="false">

    </mat-tab>
    <mat-tab label="Jobs">

    </mat-tab>
    <mat-tab label="Environment Variables">
        <!-- <app-environment-variable [pipeline]="pipeline"/> -->
    </mat-tab>
    <!-- <mat-tab label="Parameters"></mat-tab> -->
    <!-- <mat-tab label="Automation (WIP)"></mat-tab> -->
</mat-tab-group>
