:host {
    display: flex;
    height: 100%;
    background: #1f1f1f;

    color: #91939d;
    font-family: 'Courier New', Courier, monospace;

    *::selection {
        background-color: #6272A47f;
    }
}

.line {
    position: absolute;
    width: 100%;
    display: flex;
    white-space: pre;
    border-left: 2px solid #0000;
    transition: 200ms ease;
    transition-property: border-left-color, color, background-color;

    &.error {
        color: #ef5350;

        &:hover {
            color: #ef9a9a;
        }
    }

    &.warning {
        color: #ff9800;

        &:hover {
            color: #ffa726;
        }
    }

    &:hover {
        background-color: #ffffff22;
        border-left-color: #0288d1;
        color: #fff;
    }

    .expansion_toggle {
        height: 19px;
        // opacity: 0;
        vertical-align: middle;

        mat-icon {
            width: 19px;
            height: 19px;
            font-size: 19px;
            line-height: 19px;
        }
    }

    .blank,
    .expansion_toggle {
        display: inline-block;
        width: 32px;
        min-width: 32px;
    }

    .message {
        display: flex;
        align-items: center;
    }

    .segment {
        // display: contents;
        line-height: 100%;
    }

    ::ng-deep {
        .material-icons {
            font-size: 16px;
            width: 18px;
            height: 18px;
            line-height: unset;
        }

        .code {
            // background-color: #ef5350;
            position: relative;
            color: #bdbdbd;

            &::before {
                content: "";
                position: absolute;
                inset: -1px -2px;
                border-radius: 4px;
                background-color: #2b2b2b;
                z-index: -1;
            }
        }
    }
}

.block {
    position: absolute;
    width: 100%;
}

.console {

    .stdout {
        // color: #91939d;
        color: #BDDED6;
    }

    .stderr {
        color: #f06292;
    }

    .breakpoint {
        color: #ffc107;
    }

    .time {
        position: relative;
        color: #6e7681;

        &:after {
            content: "";
            position: absolute;
            width: 1px;
            top: -1px;
            bottom: -1px;
            right: 4px;
            background-color: #7b7b7b;
        }
    }
}

.process {
    display: flex;
    align-items: center;
    width: 100%;
}

ng-scrollbar {
    width: 100%;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        box-shadow: #0000 0 6px 6px -6px inset;
        transition: box-shadow 300ms ease;
    }

    &.shadow::after {
        box-shadow: #000 0 6px 6px -6px inset;
    }

    &.embed ::ng-deep {
        .ng-scroll-viewport {
            overflow: hidden !important;
        }
    }
}

mat-tab-group {
    background-color: #101010;
}

// Hide the font detection element offscreen
.font-detector {
    position: fixed;
    right: 100vw;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    // font-size: 14px;
}
