<p>Artifacts</p>

@if (job.artifacts) {
    @for (artifact of job.artifacts; track artifact) {
        <div class="row">
            <mat-form-field style="width: 100%;">
                <mat-label>Label</mat-label>
                <input matInput type="text" [(ngModel)]="artifact.label"/>
            </mat-form-field>
            <br/>
            <div style="display: flex; gap: 12px;">
                <mat-form-field style="flex: 1">
                    <mat-label>Source</mat-label>
                    <input matInput type="text" [(ngModel)]="artifact.source"/>
                </mat-form-field>

                <mat-form-field style="flex: 1">
                    <mat-label>Destination</mat-label>
                    <input matInput type="text" [(ngModel)]="artifact.destination" />
                    <div matSuffix style="padding: 0 12px;">.tar.lrz</div>
                </mat-form-field>
            </div>
        </div>
    }

    <button mat-flat-button (click)="addArtifact()">
        <mat-icon>add</mat-icon>
        Add
    </button>
}
