<mat-tab-group *ngIf="task">
    <mat-tab label="General">
        <h4>Basic Settings</h4>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input #nameInput matInput type="text" [(ngModel)]="task.label">
        </mat-form-field>

        <ngx-stackedit [(value)]="task.description"/>

        <!-- Switch: bash command vs builtin / plugin -->

        <mat-form-field appearance="outline">
            <mat-label>Command</mat-label>
            <input #nameInput matInput type="text" [(ngModel)]="task.command">
        </mat-form-field>

        <div style="border: 1px solid #999; border-radius: 4px;">
            <h5>arguments</h5>
            <div >
                <mat-form-field *ngFor="let argument of task.arguments; let i = index" appearance="outline" class="flex-field">
                    <input #nameInput matInput type="text" [(ngModel)]="task.arguments[i]">
                    <mat-icon (click)="task.arguments.splice(i, 1)">remove_circle_outline</mat-icon>
                </mat-form-field>
            </div>
            <mat-icon (click)="task.arguments = (task.arguments == null || !task.arguments.push) ? [] : task.arguments; task.arguments.push('')">add</mat-icon>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Working Directory</mat-label>
                <input #nameInput matInput type="text" [(ngModel)]="task.workingDirectory">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Timeout</mat-label>
                <input #nameInput matInput type="number" [(ngModel)]="task.commandTimeout">
            </mat-form-field>
        </div>


        <!-- automatic pipeline scheduling -->
        <mat-checkbox [(ngModel)]="task.runIfPreviousTaskPassed">
            Run if previous task passed
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="task.runIfPreviousTaskFailed">
            Run if previous task failed
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="task.preBreakpoint">
            Freeze before run
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="task.postBreakpoint">
            Freeze after run
        </mat-checkbox>

        <!-- <mat-form-field appearance="outline">
            <mat-label>Timeout</mat-label>
            <input #nameInput matInput type="number" [(ngModel)]="task.commandTimeout">
        </mat-form-field> -->
    </mat-tab>
    <mat-tab label="Automation" *ngIf="false">

    </mat-tab>
    <mat-tab label="Environment Variables">
        <app-environment [resource]="task" />
    </mat-tab>
    <!-- <mat-tab label="Parameters"></mat-tab> -->
    <!-- <mat-tab label="Automation (WIP)"></mat-tab> -->
</mat-tab-group>
