<mat-tab-group  *ngIf="task">
    <mat-tab label="General">
        <h4>Basic Settings</h4>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input #nameInput matInput type="text" [(ngModel)]="task.label">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" [(ngModel)]="task.description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Command</mat-label>
            <input #nameInput matInput type="text" [(ngModel)]="task.command">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>arguments</mat-label>
            <input #nameInput matInput type="text" [(ngModel)]="task.arguments">
        </mat-form-field>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Working Directory</mat-label>
                <input #nameInput matInput type="text" [(ngModel)]="task.workingDirectory">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Timeout</mat-label>
                <input #nameInput matInput type="number" [(ngModel)]="task.commandTimeout">
            </mat-form-field>
        </div>


        <!-- automatic pipeline scheduling -->
        <mat-checkbox [(ngModel)]="task.runIfPreviousTaskPassed">
            Run if previous task passed
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="task.runIfPreviousTaskFailed">
            Run if previous task failed
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="task.freezeBeforeRun">
            Freeze before run
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="task.freezeAfterRun">
            Freeze after run
        </mat-checkbox>

        <!-- <mat-form-field appearance="outline">
            <mat-label>Timeout</mat-label>
            <input #nameInput matInput type="number" [(ngModel)]="task.commandTimeout">
        </mat-form-field> -->
    </mat-tab>
    <mat-tab label="Automation" *ngIf="false">

    </mat-tab>
    <mat-tab label="Environment Variables">
        <app-environment [resource]="task" />
    </mat-tab>
    <!-- <mat-tab label="Parameters"></mat-tab> -->
    <!-- <mat-tab label="Automation (WIP)"></mat-tab> -->
</mat-tab-group>
