<p-table
    #dt1
    [value]="jobs"
    [tableStyle]="{'min-width': '60rem'}"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
>
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="dt1.clear()"></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input #_ pInputText type="text" (input)="dt1.filterGlobal(_.value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="label" [width]="240">
                Job Name
                <p-sortIcon field="label"></p-sortIcon>
                <p-columnFilter type="text" field="label" display="menu"/>
            </th>

            @for (stage of pipeline.stages; track stage) {
                <th pSortableColumn="label" [width]="240">
                    {{stage.label}}
                </th>
            }
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-job>
        <tr>
            <td>
                <div style="display: flex; align-items: center;">
                    <app-job-instance-icon
                        [jobInstance]="job"
                    />
                    <div>{{job.label}}</div>
                </div>
            </td>
            <td>
                <ng-template>
                    <!-- {{printDuration(job._runningJob?.queueEpoch)}}
                    {{printDuration(job._runningJob?.startEpoch)}} -->
                    {{job._runningJob?.endEpoch}}
                </ng-template>
            </td>
            <td>
                <!-- {{printDuration(job._runningJob?.queueEpoch)}} -->
            </td>
            <td>
                {{job._runningJob?.kube?.name}}
            </td>
        </tr>
    </ng-template>
</p-table>
