<div
    class="list"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
>
    <div
        class="box app-entry-list"
        *ngFor="let item of items; let i = index"
        cdkDrag
    >
        <div class="placeholder" *cdkDragPlaceholder></div>

        <mat-accordion displayMode="flat" [multi]="true">
            <mat-expansion-panel expanded="false">
                <mat-expansion-panel-header>
                    <div class="label">
                        <mat-icon>drag_indicator</mat-icon>
                        <span style="width: 48px"></span>

                        <ng-template [ngTemplateOutlet]="header" [ngTemplateOutletContext]="{ '$implicit': item}" />
                    </div>
                </mat-expansion-panel-header>

                <!-- <app-entry-list
                    *ngIf="item['_children'] && depth < 5"
                    [item]="item"
                    [items]="item['_children']"
                    [ctxMenu]="ctxMenu"
                    [depth]="depth + 1"
                /> -->
                <ng-template [ngTemplateOutlet]="content" [ngTemplateOutletContext]="{ '$implicit': item}" />

            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<div style="height: 48px; padding: 6px; margin-left: 70px">
    <button mat-flat-button (click)="onCreate.emit()">
        <mat-icon>add_circle_outline</mat-icon>
        Add
    </button>
</div>
