@if (stage) {
    <ng-scrollbar class="sidebar">
        <mat-accordion [multi]="true" displayMode="flat">
            @for (job of stage?.jobs; track job) {
                <mat-expansion-panel #panel [expanded]="true">
                    <mat-expansion-panel-header
                        collapsedHeight="48px"
                        expandedHeight="48px"
                    >
                        <div
                            class="header"
                            [class.selected]="job == selectedJob && currentSelection == 'job'"
                            [ngx-contextmenu]="jobMenu"
                            [ngx-menu-context]="job"
                            (click)="$event.stopPropagation(); selectJob(job)"
                        >
                            <div>
                                <div class="label">{{job.label}}</div>
                                <div class="platform">{{job.kubeContainerImage || defaultContainerImage}}</div>
                            </div>

                            <button
                                mat-icon-button
                                class="expand_button"
                                [style.transform]="panel.expanded ? '' : 'rotate(-90deg)'"
                                (click)="panel.toggle()"
                            >
                                <mat-icon>expand_more</mat-icon>
                            </button>
                        </div>
                    </mat-expansion-panel-header>


                    <ng-template matExpansionPanelContent>
                        <mat-tab-group [mat-stretch-tabs]="false" dynamicHeight class="task_group">
                            @for (taskGroup of job.taskGroups; track taskGroup) {
                                <mat-tab
                                    [class.selected]="selectedTaskGroup == taskGroup && currentSelection == 'taskGroup'"
                                >
                                    <ng-template mat-tab-label>
                                        <div
                                            class="tab_header"
                                            [class.selected]="taskGroup == selectedTaskGroup && currentSelection == 'taskGroup'"
                                            (click)="selectTaskGroup(taskGroup)"
                                            [ngx-contextmenu]="taskGroupMenu"
                                            [ngx-menu-context]="{taskGroup, job}"
                                        >
                                            {{taskGroup.label}}
                                        </div>
                                    </ng-template>
                                    <div
                                        class="task-list"
                                        cdkDropList
                                        [cdkDropListData]="taskGroup.id"
                                        (cdkDropListDropped)="taskDrop(taskGroup, $event)"
                                    >
                                        @for (task of taskGroup.tasks; track task) {
                                            <div
                                                class="task draggable-task"
                                                [class.disabled]="task.disabled"
                                                [class.selected]="selectedTask == task && currentSelection == 'task'"
                                                cdkDrag
                                                [cdkDragData]="task"
                                                [ngx-contextmenu]="taskMenu"
                                                [ngx-menu-context]="{task, taskGroup, job}"
                                                (click)="selectTask(task)"
                                            >
                                                <div class="placeholder" *cdkDragPlaceholder></div>

                                                <img />
                                                <div>
                                                    <div>{{task.label}}</div>
                                                    <div>{{task.taskScriptId}}</div>
                                                </div>

                                                <div style="flex: 1"></div>

                                                <div class="drag_handle">
                                                    <mat-icon>drag_indicator</mat-icon>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <div>
                                        <button (click)="addTask(taskGroup)" matTooltip="Add Task">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </mat-tab>
                            }

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div>
                                        <button (click)="addTaskGroup(job); $event.stopPropagation()" matTooltip="Add Task Group">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </ng-template>
                </mat-expansion-panel>
            }
        </mat-accordion>

        <div
            style="display: flex;justify-content: center;"
        >
            <button
                class="job_add_button"
                (click)="addJob()"
                matTooltip="Add job"
            >
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </ng-scrollbar>

    <div class="content">

        @switch (currentSelection) {
            @case("job") {
                @if (selectedJob) {
                    <ng-scrollbar>
                        <div style="padding: 16px;">
                            <mat-form-field style="width: 100%">
                                <mat-label>Label</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    [(ngModel)]="selectedJob.label"
                                    (change)="dataChangeEmitter.next(0)"
                                />
                            </mat-form-field>

                            <p style="margin-top: 0;">Description</p>
                            <ngx-stackedit
                                (onImageUpload)="fs.onImageUpload(pipeline, $event)"
                                [(value)]="selectedJob.description"
                                (valueChange)="dataChangeEmitter.next(0)"
                                showPreview="off"
                                showToc="off"
                            />

                            <p>Kube settings</p>
                            <div>
                                <mat-form-field style="width: 100%">
                                    <mat-label>Container Image</mat-label>
                                    <input matInput type="text" [(ngModel)]="selectedJob.kubeContainerImage" [placeholder]="defaultContainerImage" />
                                </mat-form-field>
                                <div style="display: flex; gap: 12px">
                                    <mat-form-field style="flex: 1">
                                        <mat-label>CPU Request</mat-label>
                                        <input matInput type="text" [(ngModel)]="selectedJob.kubeCpuRequest"/>
                                    </mat-form-field>
                                    <mat-form-field style="flex: 1">
                                        <mat-label>CPU Limit</mat-label>
                                        <input matInput type="text" [(ngModel)]="selectedJob.kubeCpuLimit"/>
                                    </mat-form-field>
                                </div>
                                <div style="display: flex; gap: 12px">
                                    <mat-form-field style="flex: 1">
                                        <mat-label>Mem Request</mat-label>
                                        <input matInput type="text" [(ngModel)]="selectedJob.kubeMemRequest"/>
                                    </mat-form-field>
                                    <mat-form-field style="flex: 1">
                                        <mat-label>Mem Limit</mat-label>
                                        <input matInput type="text" [(ngModel)]="selectedJob.kubeMemLimit"/>
                                    </mat-form-field>
                                </div>
                            </div>

                            <app-variables-section
                                [item]="selectedJob"
                                (valueChange)="dataChangeEmitter.next(0)"
                            />
                            <app-artifacts-section
                                [job]="selectedJob"
                            />
                        </div>
                    </ng-scrollbar>
                }
                @else {
                    Select a task.
                }
            }
            @case("taskGroup") {
                @if (selectedTaskGroup) {
                    <mat-tab-group [mat-stretch-tabs]="false">
                        <mat-tab label="Properties">
                            <ng-scrollbar>
                                <div style="padding: 16px;">
                                    <mat-form-field style="width: 100%">
                                        <mat-label>Task Group Label</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            [(ngModel)]="selectedTaskGroup.label"
                                            (change)="dataChangeEmitter.next(0)"
                                        />
                                    </mat-form-field>

                                    <p style="margin-top: 0;">Description</p>
                                    <ngx-stackedit
                                        (onImageUpload)="fs.onImageUpload(pipeline, $event)"
                                        [(value)]="selectedTaskGroup.description"
                                        (valueChange)="dataChangeEmitter.next(0)"
                                        showPreview="off"
                                        showToc="off"
                                    />
                                    <app-variables-section
                                        [item]="selectedTaskGroup"
                                        (valueChange)="dataChangeEmitter.next(0)"
                                    />
                                </div>
                            </ng-scrollbar>
                        </mat-tab>
                        <mat-tab label="All">

                        </mat-tab>
                        <mat-tab label="Build">

                        </mat-tab>
                        <mat-tab label="Utility">

                        </mat-tab>
                        <mat-tab label="Test">

                        </mat-tab>
                        <mat-tab label="Package">

                        </mat-tab>
                        <mat-tab label="Deploy">

                        </mat-tab>
                        <mat-tab label="Tool">

                        </mat-tab>
                        <!-- <mat-tab label="Plugins"></mat-tab> -->
                    </mat-tab-group>
                }
                @else {
                    Select a Task Group.
                }
            }
            @case("task") {
                @if (selectedTask) {
                    <ng-scrollbar>
                        <div style="padding: 16px;">
                            <mat-form-field style="width: 100%">
                                <mat-label>Task Label</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    [(ngModel)]="selectedTask.label"
                                    (change)="dataChangeEmitter.next(0)"
                                />
                            </mat-form-field>

                            <p style="margin-top: 0;">Description</p>
                            <ngx-stackedit
                                (onImageUpload)="fs.onImageUpload(pipeline, $event)"
                                [(value)]="selectedTask.description"
                                (valueChange)="dataChangeEmitter.next(0)"
                                showPreview="off"
                                showToc="off"
                            />

                            <div>
                                <p>Control Flow</p>

                                <mat-checkbox
                                    [(ngModel)]="selectedTask.preBreakpoint"
                                >
                                    Break before Task
                                </mat-checkbox>
                                <mat-checkbox
                                    [(ngModel)]="selectedTask.postBreakpoint"
                                >
                                    Break after Task
                                </mat-checkbox>

                                <!-- <mat-checkbox
                                    [(ngModel)]="selectedTask.postBreakpoint"
                                >
                                    Run only on successful flow
                                </mat-checkbox>

                                <mat-checkbox
                                    [(ngModel)]="selectedTask.postBreakpoint"
                                >
                                    Run only on
                                </mat-checkbox> -->
                            </div>

                            <app-variables-section
                                [item]="selectedTask"
                                (valueChange)="dataChangeEmitter.next(0)"
                            />

                            <app-formio-wrapper
                                [(data)]="selectedTask.taskScriptArguments"
                                (dataChange)="dataChangeEmitter.next(0)"
                                [formSchema]="selectedTaskSchema?.['schema']"
                                [formOptions]="{}"
                            />
                        </div>
                    </ng-scrollbar>
                }
                @else {
                    Select a task.
                }
            }
        }

    </div>
}
@else {
    STAGE IS MISSING!
}
