:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


mat-tab-group ::ng-deep {
    .mat-mdc-tab-body-content {
        overflow: hidden;
    }
}

.toolbar {
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 12px;
    height: 48px;
    flex: 0 0 48px;

    --mat-form-field-container-height: 32px;
    --mat-form-field-container-vertical-padding: 4px;
    ::ng-deep {
        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
        .mat-mdc-form-field-infix {
            width: unset;
        }
    }
}

