
<div class="toolbar">
    <mat-form-field style="flex: 1 0 0">
        <input
            matInput
            type="text"
            [(ngModel)]="pipeline.label"
            (blur)="saveClone()"
        />
    </mat-form-field>

    <div style="flex: 1"></div>

    <div style="display: flex; gap: 12px">
        <button mat-flat-button (click)="cancel()">Cancel</button>
        <button mat-flat-button (click)="save()">Save</button>
    </div>

</div>
<mat-tab-group [mat-stretch-tabs]="false">
    <!-- Release pipelines will have various stages -->
    @if (false) {
        <mat-tab label="Stages">
            <ng-template matTabContent>
                <app-stage-editor [pipeline]="pipeline"/>
            </ng-template>
        </mat-tab>
    }
    @else {
        <!-- Build pipelines will always have 1 stage -->
        <mat-tab label="Tasks">
            <ng-template matTabContent>
                @if (pipeline.stages) {
                    <app-stage-editor
                        [stage]="pipeline.stages?.[0]"
                        [pipeline]="pipeline"
                    />
                }
            </ng-template>
        </mat-tab>
    }
    <mat-tab label="variables">
        <ng-template matTabContent>
            <app-variables-section
                [item]="pipeline"
                (valueChange)="dataChangeEmitter.next(0)"
            />
        </ng-template>
    </mat-tab>
    <mat-tab label="triggers">
        <ng-template matTabContent>
        </ng-template>
    </mat-tab>
    <mat-tab label="listeners">
        <ng-template matTabContent>
        </ng-template>
    </mat-tab>
    <mat-tab label="options">
        <ng-template matTabContent>
        </ng-template>
    </mat-tab>
    <mat-tab label="history">
        <ng-template matTabContent>
        </ng-template>
    </mat-tab>
</mat-tab-group>

