
@mixin dark-theme() {

    --background-color: #1f1f1f;
    --panel-background-color: #2f2f2f;
    --text-color: #dfdfdf;

    --theme-primary: #18ffff;
    --theme-secondary: #07fa87;

    --splitter-background-color: #242424;

    --ngx-ctx-menu-hover-background-color: #145588;
    --mdc-protected-button-disabled-label-text-color: #ccc;
    // --mdc-tab-indicator-active-indicator-color: #fbb86c;



    --splitter-hover-background-color: var(--theme-primary);
    --splitter-background-color: #555;
    --splitter-transition: 200ms ease;

    --ngx-menu-hover-background-color: var(--theme-primary);

    --inner-panel-background-color: #1d1f20;
    .mat-mdc-dialog-container {
        --mdc-dialog-container-color: #181818;
    }


    a {
        color: #3391ff
    }
    button {
        color: #efefef;
    }
    button:disabled {
        color: #7d7d7d;
    }
}

