
@mixin dark-theme() {

    --background-color: #121212;
    --panel-background-color: #2f2f2f;
    --text-color: #dfdfdf;

    --splitter-background-color: #242424;

    --ngx-ctx-menu-hover-background-color: #145588;
    --mdc-protected-button-disabled-label-text-color: #ccc;
    // --mdc-tab-indicator-active-indicator-color: #fbb86c;

    --inner-panel-background-color: #1d1f20;
    .mat-mdc-dialog-container {
        --mdc-dialog-container-color: #181818;
    }

    --theme-primary: #18ffff;

    a {
        color: #3391ff
    }
    button {
        color: #efefef;
    }
    button:disabled {
        color: #7d7d7d;
    }
}

