<button mat-flat-button (click)="test()">Test</button>
<button mat-flat-button (click)="clear()">Clear</button>
<button mat-flat-button (click)="reset()">Reset</button>
<div style="display: flex; height: calc(100% - 64px)">
    <app-vscode
        style="flex: 1 1 50%"
        [(code)]="labelTemplate"
        [tabSize]="4"
        language="typescript"
    />
    <app-vscode
        style="flex: 1 1 50%"
        [(code)]="result"
        [tabSize]="4"
        language="json"
        [readOnly]="true"
    />
</div>
