<button class="exit-btn" mat-icon-button (click)="tryClose()"><mat-icon>close</mat-icon></button>

<mat-tab-group>
    <mat-tab label="General">
        <h4>Basic Settings</h4>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input #nameInput matInput type="text" [(ngModel)]="agent.label">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Group</mat-label>
            <input matInput type="text" [(ngModel)]="agent.group">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" [(ngModel)]="agent.description"></textarea>
        </mat-form-field>


        <h4>agent locking behavior</h4>
        <mat-radio-group [value]="agent.lockingBehavior" (change)="agent.lockingBehavior = $event.value" aria-label="Select an option">
            <mat-radio-button value="singleton">Run single instance of pipeline at a time</mat-radio-button>
            <mat-radio-button value="singletonNoFail">Run single instance of pipeline and lock on failure</mat-radio-button>
            <mat-radio-button value="multiple">Run multiple instances(default)</mat-radio-button>
        </mat-radio-group>

    </mat-tab>
    <mat-tab label="Environment Variables">
        <button
            #btn
            mat-icon-button
            matTooltip="Add an environment variable"
            (click)="createEnvironmentVariable()"
        >
            <mat-icon>add</mat-icon>
        </button>
    </mat-tab>
</mat-tab-group>
