
<mat-tab-group *ngIf="stage">
    <mat-tab label="General">
        <h4>Basic Settings</h4>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input #nameInput matInput type="text" [(ngModel)]="stage.label">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" [(ngModel)]="stage.description"></textarea>
        </mat-form-field>


        <!-- automatic pipeline scheduling -->
        <mat-checkbox>
            Clean Directory
        </mat-checkbox>

        <mat-checkbox>
            Clean Artifacts
        </mat-checkbox>

        <mat-checkbox>
            Fetch Sources
        </mat-checkbox>

        <mat-checkbox>
            Only run on previous Stage success
        </mat-checkbox>

    </mat-tab>
    <mat-tab label="Automation" *ngIf="false">

    </mat-tab>
    <mat-tab label="Jobs">

        <app-accordion-list
            [items]="stage.jobs"
            typeName="Job"
            (onCreate)="pipelineEditor.addJob(stage)"
        >
            <ng-template #header let-job>
                {{job.label}}

                <mat-icon (click)="pipelineEditor.editJob(stage, job); $event.stopPropagation()">edit</mat-icon>
            </ng-template>
            <ng-template #content let-job>
                <app-accordion-list
                    [items]="job.taskGroups"
                    typeName="Task Group"
                    (onCreate)="pipelineEditor.addTaskGroup(job)"
                >
                    <ng-template #header let-taskGroup>
                        {{taskGroup.label}}

                        <mat-icon (click)="pipelineEditor.editTaskGroup(stage, job, taskGroup); $event.stopPropagation()">edit</mat-icon>
                    </ng-template>
                    <ng-template #content let-taskGroup>
                        <app-accordion-list
                            [items]="taskGroup.tasks"
                            typeName="Task"
                            (onCreate)="pipelineEditor.addTask(taskGroup)"
                        >
                            <ng-template #header let-task>
                                {{task.label}}

                                <mat-icon (click)="pipelineEditor.editTask(stage, job, taskGroup, task); $event.stopPropagation()">edit</mat-icon>
                            </ng-template>
                            <ng-template #content let-task>
                                {{1}}
                            </ng-template>
                        </app-accordion-list>
                    </ng-template>
                </app-accordion-list>
            </ng-template>
        </app-accordion-list>
    </mat-tab>
    <mat-tab label="Environment Variables">
        <app-environment [resource]="stage" />
    </mat-tab>
    <!-- <mat-tab label="Parameters"></mat-tab> -->
    <!-- <mat-tab label="Automation (WIP)"></mat-tab> -->
</mat-tab-group>
