:host {
    display: flex;
    height: 100%;
    flex-direction: column;

    --mat-sidenav-container-background-color: #363636;
}

.canvas {
    width: 100%;
    height: 100%;
}

ngx-xyflow {
    flex: 1;
}

mat-sidenav-container {
    flex: 1
}

mat-sidenav {
    width: 640px;
    min-width: 400px;
    padding: 12px;

    ::ng-deep {
        .ng-scroll-content {
            width: 100%;
            padding: 24px;
        }
        .mat-expansion-panel:not([class*=mat-elevation-z]) {
            box-shadow: none;
        }
    }
}


ng-scrollbar {
    .panel_header {
        display: flex;
        align-items: center;
        // margin: 12px 0;
        font-size: 16px;
        font-weight: 200;
    }
}

.toolbar {
    height: 42px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 12px;
    background-color: #211f1f;
    user-select: none;

    .pipeline_name {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.list-item {
    display: flex;
    align-items: center;
}

mat-accordion {
    display: block;

    mat-tab-group {
        background-color: #181818;
    }

    mat-expansion-panel-header {
        padding: 0;

        ::ng-deep {
            .mat-content {
                height: 100%;

            }

            .mat-expansion-indicator {
                display: none;
            }
        }
    }

    ::ng-deep {
        .mat-expansion-panel {
            --mat-expansion-container-background-color: #0000;
        }
        .mat-expansion-panel-body {
            padding: 0;
        }
    }

    // :focus .selected, :focus.selected {
    //     background-color: #04395e;
    // }
    .header,
    .tab_header {
        &:hover {
            background-color: #2a2d2e;
        }
    }

    .expand_button {
        position: absolute;
        right: 12px;
        transition: transform 300ms ease;
    }

    .header {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0 12px;
        width: 100%;
        height: 100%;
        background-color: #181818;
        transition: background-color 100ms ease;

        .label {
            padding-left: 24px
        }
    }
}

