@if (editingStage) {
    <app-stage-editor
        [pipeline]="pipeline"
        [stage]="selectedStage"
        (close)="
            dataChangeEmitter.next(0);
            renderGraph();
            editingStage = false;
        "
    />
}
@else {
    <mat-sidenav-container>
        <mat-sidenav-content>
            <div style="height: 100%; display: flex; flex-direction: column;">
                <div class="toolbar">
                    <div
                        class="pipeline_name"
                        (click)="
                            mode = 'edit';
                            view = 'pipeline';
                            selectedStage = null;
                            renderGraph()
                        "
                    >
                        <mat-icon>edit</mat-icon>
                        {{pipeline?.label}}
                    </div>
                    <button
                        mat-flat-button
                        (click)="addStage()"
                    >
                        add stage
                    </button>
                    <div style="flex: 1"></div>
                    <button
                        mat-flat-button
                        (click)="cancel()"
                    >
                        Cancel
                    </button>
                    <button
                        mat-flat-button
                        (click)="save()"
                    >
                        Save
                    </button>
                </div>
                <ngx-reactflow
                    [nodes]="nodes"
                    [edges]="edges"
                    [nodeTypes]="nodeTypes"
                />
            </div>
            <div class="shadow-right"></div>
        </mat-sidenav-content>
        <mat-sidenav mode="side" position="end" [opened]="true">
            <ng-scrollbar>
                @switch (view) {
                    @case ("approver") {
                        <div class="panel_header">Approvers</div>

                        <mat-form-field style="width: 100%;">
                            <mat-label>Approvers</mat-label>
                            <mat-select
                                multiple
                                [(value)]="selectedStage.approvalUsers"
                                (valueChange)="renderGraph()"
                                (valueChange)="dataChangeEmitter.next(0)"
                            >
                                @for (user of users; track user) {
                                    <mat-option
                                        [value]="user.id"
                                    >
                                        {{user.label ?? user.login}}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field style="width: 100%;">
                            <mat-label>Minimum number of approvals to run</mat-label>
                            <input matInput type="number" min="0" [(ngModel)]="selectedStage.requiredApprovals" (ngModelChange)="dataChangeEmitter.next(0)" />
                        </mat-form-field>
                    }

                    @case ("stage") {
                        <div class="panel_header">
                            <span>Stage</span>
                            <div style="flex: 1"></div>
                            <button mat-flat-button (click)="editStage(selectedStage)">Edit</button>
                        </div>

                        <mat-form-field style="width: 100%; margin: 12px 0">
                            <mat-label>Label</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="selectedStage.label"
                                (ngModelChange)="dataChangeEmitter.next(0)"
                            />
                        </mat-form-field>

                        <ngx-stackedit
                            style="height: 200px"
                            (onImageUpload)="fs.onImageUpload(pipeline, $event)"
                            [(value)]="selectedStage.description"
                            (valueChange)="dataChangeEmitter.next(0)"
                            showPreview="off"
                            showToc="off"
                        />

                        <p class="panel_header">Stage Triggers</p>

                        <mat-form-field style="width: 100%;">
                            <mat-label>Preceding stages</mat-label>
                            <mat-select
                                multiple
                                [(value)]="selectedStage.stageTrigger"
                                [disabled]="filterPrecedingStages(selectedStage).length == 0"
                                (valueChange)="renderGraph()"
                                (valueChange)="dataChangeEmitter.next(0)"
                            >
                                @for (stage of filterPrecedingStages(selectedStage); track stage) {
                                    <mat-option
                                        [value]="stage.id"
                                    >
                                        {{stage.label}}
                                    </mat-option>
                                }
                            </mat-select>
                            @if (filterPrecedingStages(selectedStage).length == 0) {
                                <mat-hint>There are no valid stages that can be specified</mat-hint>
                            }
                        </mat-form-field>

                        @if (filterMissingPrecedingStages(selectedStage)?.length > 0) {
                            <div style="margin-bottom: 12px">
                                <h4 style="margin: 0">Invalid Preceding Stages:</h4>
                                <p style="margin: 4px 0">This stage will not run until these are resolved.</p>

                                @for (id of filterMissingPrecedingStages(selectedStage); track id) {
                                    <div style="color: #ff5252; display: flex; justify-content: space-between; margin-left: 24px">
                                        * {{id}}

                                        <mat-icon
                                            (click)="
                                                selectedStage.stageTrigger.splice(
                                                    selectedStage.stageTrigger.indexOf(id),
                                                    1
                                                )
                                            "
                                            style="cursor: pointer"
                                        >delete_forever</mat-icon>
                                    </div>
                                }
                            </div>
                        }

                        <mat-form-field style="width: 100%;">
                            <mat-label>Render as</mat-label>
                            <mat-select
                                [(value)]="selectedStage.renderMode"
                                (valueChange)="renderGraph()"
                                (valueChange)="dataChangeEmitter.next(0)"
                            >
                                <mat-option value="normal">Simple</mat-option>
                                <mat-option value="gateway">Gateway</mat-option>
                                <mat-option value="job_container">Jobs</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div>
                            <div class="panel_header">Schedule</div>
                            <mat-form-field>
                                <mat-label>CRONTAB Schedule</mat-label>
                                <input matInput type="text" [(ngModel)]="selectedStage.cronTrigger" (ngModelChange)="dataChangeEmitter.next(0)"/>
                            </mat-form-field>

                            <!-- <mat-form-field> -->
                                <mat-checkbox [(ngModel)]="selectedStage.cronExcludeAuto" (ngModelChange)="dataChangeEmitter.next(0)">
                                    Only automatically trigger on CRONTAB execution
                                </mat-checkbox>
                            <!-- </mat-form-field> -->
                        </div>

                        <div>
                            <p class="panel_header">Sources</p>

                            <div class="list" style="margin-bottom: 12px">
                                @for (source of selectedStage.sources; track source) {
                                    <div
                                        class="list-item"
                                        (click)="selectedSource = source; view='source'"
                                    >
                                        <mat-icon>edit</mat-icon>
                                        <div>
                                            {{source.label || source.url?.split("/").pop()}}
                                        </div>
                                    </div>
                                }
                            </div>

                            <button mat-flat-button (click)="addSource(selectedStage)">
                                <mat-icon>add</mat-icon> Add Source
                            </button>
                        </div>

                        <div>
                            <p class="panel_header">Webhooks</p>

                            <div class="list" style="margin-bottom: 12px">
                                @for (webhook of selectedStage.webhooks; track webhook) {
                                    <div
                                        class="list-item"
                                        (click)="selectedWebhook = webhook; view='webhook'"
                                    >
                                        <mat-icon>edit</mat-icon>
                                        <div>
                                            {{webhook.label || webhook.url?.split("/").pop()}}
                                        </div>
                                    </div>
                                }
                            </div>

                            <button mat-flat-button (click)="addWebhook(selectedStage)">
                                <mat-icon>add</mat-icon> Add Webhook
                            </button>
                        </div>

                        <app-variables-section
                            [item]="selectedStage"
                            (valueChange)="dataChangeEmitter.next(0)"
                        />
                    }

                    @case ("source") {
                        <div style="display: flex; justify-content: space-between;">
                            <button mat-flat-button (click)="view = 'stage'">
                                <mat-icon>arrow_back</mat-icon>
                                Back
                            </button>

                            <button mat-flat-button (click)="deleteSource(selectedStage, selectedSource)">
                                <mat-icon>delete_forever</mat-icon>
                                Delete
                            </button>
                        </div>
                        @if (selectedSource) {
                            <mat-form-field style="width: 100%; margin: 12px 0">
                                <mat-label>{{selectedSource.label ? 'Label' : selectedSource.url?.split('/').pop()}}</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    [(ngModel)]="selectedSource.label"
                                    (ngModelChange)="dataChangeEmitter.next(0)"
                                />
                            </mat-form-field>
                        }

                        <ngx-stackedit
                            style="height: 200px; margin-bottom: 12px"
                            (onImageUpload)="fs.onImageUpload(pipeline, $event)"
                            [(value)]="selectedSource.description"
                            (valueChange)="dataChangeEmitter.next(0)"
                            showPreview="off"
                            showToc="off"
                        />

                        <mat-form-field style="width: 100%">
                            <mat-label>URL</mat-label>
                            <input matInput type="text" [(ngModel)]="selectedSource.url" (ngModelChange)="dataChangeEmitter.next(0)" />
                        </mat-form-field>

                        <mat-form-field style="width: 100%">
                            <mat-label>Destination</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="selectedSource.targetPath"
                                (ngModelChange)="dataChangeEmitter.next(0)"
                            />
                        </mat-form-field>

                        <mat-checkbox
                            [(ngModel)]="selectedSource.disablePolling"
                            (ngModelChange)="dataChangeEmitter.next(0)"
                            style="margin: -8px 0 8px 0"
                        >
                            <mat-label>Disable automatic build on changes</mat-label>
                        </mat-checkbox>

                        <mat-form-field style="width: 100%">
                            <mat-label>Clone Depth</mat-label>
                            <input matInput type="number" [(ngModel)]="selectedSource.cloneDepth" (ngModelChange)="dataChangeEmitter.next(0)" />
                        </mat-form-field>

                        <mat-form-field style="width: 100%">
                            <mat-label>Username</mat-label>
                            <input matInput type="text" [(ngModel)]="selectedSource.username" (ngModelChange)="dataChangeEmitter.next(0)" />
                        </mat-form-field>
                        <mat-form-field style="width: 100%">
                            <mat-label>Password</mat-label>
                            <input matInput type="text" [(ngModel)]="selectedSource.password" (ngModelChange)="dataChangeEmitter.next(0)" />
                        </mat-form-field>

                    }

                    @case ("webhook") {
                        @if (selectedWebhook) {
                            <div style="display: flex; justify-content: space-between;">
                                <button mat-flat-button (click)="view = 'stage'">
                                    <mat-icon>arrow_back</mat-icon>
                                    Back
                                </button>

                                <button mat-flat-button (click)="deleteWebhook(selectedStage, selectedWebhook)">
                                    <mat-icon>delete_forever</mat-icon>
                                    Delete
                                </button>
                            </div>

                            <div>
                                <mat-form-field style="width: 100%; margin: 12px 0">
                                    <mat-label>{{selectedWebhook.label ? 'Label' : getHost(selectedWebhook.url)}}</mat-label>

                                    <input matInput type="text" [(ngModel)]="selectedWebhook.label" (ngModelChange)="dataChangeEmitter.next(0)" />
                                </mat-form-field>

                                <ngx-stackedit
                                    style="height: 200px"
                                    (onImageUpload)="fs.onImageUpload(pipeline, $event)"
                                    [(value)]="selectedWebhook.description"
                                    (valueChange)="dataChangeEmitter.next(0)"
                                    showPreview="off"
                                    showToc="off"
                                />

                                <div style="display: flex; gap: 8px; margin: 8px 0">
                                    <mat-form-field style="width: 110px">
                                        <mat-label>Method</mat-label>
                                        <mat-select [(value)]="selectedWebhook.method" (valueChange)="dataChangeEmitter.next(0)">
                                            <mat-option value="GET">get</mat-option>
                                            <mat-option value="POST">post</mat-option>
                                            <mat-option value="PUT">put</mat-option>
                                            <mat-option value="PATCH">patch</mat-option>
                                            <mat-option value="DELETE">delete</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field style="width: 100%; flex: 1">
                                        <mat-label>URL</mat-label>
                                        <input matInput type="text" [(ngModel)]="selectedWebhook.url" (ngModelChange)="dataChangeEmitter.next(0)" />
                                    </mat-form-field>
                                </div>

                                <p>Headers</p>
                                @for (header of selectedWebhook.headers; track header) {
                                    <div style="display: flex">
                                        <mat-form-field>
                                            <mat-label>Name</mat-label>
                                            <input matInput type="text" [(ngModel)]="header[0]" (ngModelChange)="dataChangeEmitter.next(0)"/>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Value</mat-label>
                                            <input matInput type="text" [(ngModel)]="header[1]" (ngModelChange)="dataChangeEmitter.next(0)"/>
                                        </mat-form-field>
                                    </div>
                                }

                                <button
                                    mat-flat-button
                                    (click)="(selectedWebhook.headers = selectedWebhook.headers ?? []).push(['', ''])"
                                >
                                    <mat-icon>add</mat-icon>
                                    Add
                                </button>

                                <p>Body</p>
                                <app-vscode
                                    style="height: 400px"
                                    [(code)]="selectedWebhook.body"
                                    [language]="'auto'"
                                    (codeChange)="dataChangeEmitter.next(0)"
                                />
                            </div>
                        }
                    }


                    @case ("pipeline") {
                        <div class="panel_header">
                            <span>Pipeline</span>
                            <div style="flex: 1"></div>
                        </div>

                        <mat-form-field style="width: 100%; margin: 12px 0">
                            <mat-label>Label</mat-label>
                            <input matInput type="text" [(ngModel)]="pipeline.label" (ngModelChange)="dataChangeEmitter.next(0)" />
                        </mat-form-field>

                        <ngx-stackedit
                            style="height: 200px"
                            (onImageUpload)="fs.onImageUpload(pipeline, $event)"
                            [(value)]="pipeline.description"
                            (valueChange)="dataChangeEmitter.next(0)"
                            showPreview="off"
                            showToc="off"
                        />

                        <app-variables-section
                            [item]="pipeline"
                            (valueChange)="dataChangeEmitter.next(0)"
                        />
                    }

                    @default {
                        Select something.
                    }
                }
            </ng-scrollbar>
        </mat-sidenav>
    </mat-sidenav-container>
}
