


<div
    class="container"
    [class.small]="stage.renderMode == 'gateway'"
    [class.job-container]="stage.renderMode == 'job_container'"
    [class.disabled]="stage.disabled"
    [style.height]="stage.renderMode == 'job_container' ? (stage.jobs.length * 90 + 40 + 'px') : ''"
    [ngx-contextmenu]="contextMenu"
    [ngx-menu-context]="stage"
>

@if (stage.renderMode == 'gateway') {
    <div class="node_container">
        <span>{{stage.label}}</span>
    </div>

    <div
        class="diamond"
        (click)="onNodeClick.emit({component: this, stage})"
        (dblclick)="editStage()"
        [matTooltip]="stage.label"
    ></div>
}
@else if (stage.renderMode == 'job_container') {
    <div class="node multi"
        (click)="onNodeClick.emit({component: this, stage})"
        (dblclick)="editStage()"
    >
        <p style="margin: 0">{{stage.label}}</p>
        @for (job of stage.jobs; track job) {
            <div
                class="job-node"
                [matTooltip]="job.label"
            >
                <div class="label">{{job.label}}</div>
                <div>
                     {{taskCount}}
                    @if (taskCount == 1) {
                        Task
                    }
                    @else {
                        Tasks
                    }
                </div>
            </div>
        }
    </div>

    <div class="buttons">
        <button (click)="onStageAddClick.emit({component: this, stage})" matTooltip="Add dependant stage">
            <mat-icon>add</mat-icon>
        </button>
        <button (click)="onStageCloneClick.emit({component: this, stage})" matTooltip="Clone Stage">
            <mat-icon style="width: 24px; height: 24px; font-size: 24px;">copy_all</mat-icon>
        </button>
    </div>
}
@else {
    <div
        class="node"
        [matTooltip]="stage.label"
        [matTooltipPosition]="'above'"
        (click)="onNodeClick.emit({component: this, stage})"
        (dblclick)="editStage(stage)"
    >
        <mat-icon (click)="editStage(stage)">edit</mat-icon>
        <div class="label">{{stage.label}}</div>
        <div>
            {{stage.jobs?.length ?? 0}}
            @if (stage.jobs?.length == 1) {
                Job,
            }
            @else {
                Jobs,
            }
            {{taskCount}}
            @if (taskCount == 1) {
                Task
            }
            @else {
                Tasks
            }
        </div>
    </div>

    <div class="buttons">
        <button (click)="onStageAddClick.emit({component: this, stage})" matTooltip="Add dependant stage">
            <mat-icon>add</mat-icon>
        </button>
        <button (click)="onStageCloneClick.emit({component: this, stage})" matTooltip="Clone Stage">
            <mat-icon style="width: 24px; height: 24px; font-size: 24px;">copy</mat-icon>
        </button>
    </div>
}
</div>
